.web_projects-template-default #single-wrapper {
	width: 100% !important;
}

.screen-reader-text,
.post-navigation__title {
	display: none;
}

.post-navigation .nav-links {
	padding: 2rem 0;
}

.post-navigation a {
	color: #000;
}

/* CF7 CSS */
div.wpcf7-response-output {
	display:block;
	border-color: #000;
	font-family: "CFAstyStd-Bold";
	font-size: 20px;
	margin-top: 1em;
	border: none;
	padding-left: 0;
}
.alignright {
	float: right;
	margin-left:30px;
}

div.wpcf7 .ajax-loader {
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: 50% 50%;
	width: 36px;
	height: 36px;
	position: absolute;
	right: 15px;
	top: 10px;
}

.wpcf7-form.submitting .ajax-loader {
	visibility: visible;
}

.wpcf7-form.submitting .submit-section,
.wpcf7-form.submitting  .wpcf7-submit {
	cursor: progress;
}

.wpcf7-form.sent .ajax-loader {
	visibility: hidden;
}

div.wpcf7 .submit-section {
	position: relative;
}

/* PAGINATION */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin: 1rem 0 2rem;
  list-style-type: none;
}

.pagination li {
	margin: 0 2px;
}

.pagination .page-link:not(.dots) {
	margin: 0 2px;
	display: inline-block;
	text-align: center;
	color: #000;
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
	background-color: rgba(0,0,0,0);
}

.pagination .page-link:not(.dots):hover {
	color: #666;
}

.pagination .page-item:not(.dots).active .page-link{
	color: #666;
}
