
/* Arrows
-----------------------------------------------------------------*/
.svg-arrow {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.arrow-left-square {
  background-size: contain;
  @extend .arrow-left-svg;
}

.arrow-right-square {
  background-size: contain;
  @extend .arrow-right-svg;
}

.arrow-black {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.arrow-left-black {
  background-size: contain;
  @extend .arrow-left-black;
}

.arrow-right-black {
  background-size: contain;
  @extend .arrow-right-black;
}
