/* Ecosystem bg
-------------------------------------------------------------*/
.ecosystem-main-wrapper {
  .ecosystem-inner-wrap {
    height: 92vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 50% 50%;

    @include media-breakpoint-down(xs) {
      background-size: cover;
    }

    .logo-wrap,
    .title {
      position: absolute;
    }
  }
}

/* Ecosystem Logo
-------------------------------------------------------------*/
.ecosystem-inner-wrap {
  .logo-wrap {
    width: 300px;
    height: 300px;
    margin: 150px 0 0 -150px;
    top: 0;
    left: 50%;
    border-radius: 50%;
    text-align: center;
    z-index: 3; //greater than fonts

    img {
      display: inline-block;
      width: 70%;
      margin-top: 30%;
    }

    @include media-breakpoint-down(lg) {
      width: 180px;
      height: 180px;
      margin: 180px 0 0 -90px;
    }

    @include media-breakpoint-down(sm) {
      width: 150px;
      height: 150px;
      margin: 180px 0 0 -75px;
    }
  }
}


/* Ecosystem Titles
-------------------------------------------------------------*/
.ecosystem-inner-wrap {
  .title {
    color: $primary_color_rgb;
    font-size: 21px;
    font-family: $font_primary_bold;
    line-height: 1.1;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    z-index: 2;
    opacity: 0;
    transform: scale(.2);
    transition: all 880ms ease;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 12px;
    }

    &.title-1 {
      top: 15%;
      left: 0;
      width: 100%;
      text-align: center;
    }

    &.title-2 {
      top: 29%;
      right: 10%;
    }

    &.title-3 {
      top: 43%;
      right: 27%;

      @include media-breakpoint-down(md) {
        right: 15%;
      }
    }

    &.title-4 {
      top: 50%;
      right: 8%;

      @include media-breakpoint-down(md) {
        right: 5%;
      }
    }

    &.title-5 {
      top: 60%;
      right: 24%;

      @include media-breakpoint-down(md) {
        right: 2%;
      }
    }

    &.title-6 {
      top: 77%;
      right: 26%;

      @include media-breakpoint-down(md) {
        right: 2%;
      }
    }

    &.title-7 {
      top: 90%;
      right: 8%;

      @include media-breakpoint-down(md) {
        right: 5%;
      }
    }

    &.title-8 {
      top: 90%;
      left: 33%;

      @include media-breakpoint-down(md) {
        left: 10%;
        top: 85%;
      }
    }

    &.title-9 {
      top: 70%;
      left: 36%;

      @include media-breakpoint-down(md) {
        top: 60%;
        left: 5%;
      }
    }

    &.title-10 {
      top: 73%;
      left: 26%;

      @include media-breakpoint-down(md) {
        left: 15%;
      }
    }

    &.title-11 {
      top: 60%;
      left: 17%;

      @include media-breakpoint-down(md) {
        top: 65%;
        left: 8%;
      }
    }

    &.title-12 {
      top: 48%;
      left: 25%;

      @include media-breakpoint-down(md) {
        left: 12%;
      }
    }

    &.title-13 {
      top: 33%;
      left: 26%;

      @include media-breakpoint-down(md) {
        left: 16%;
      }
    }
  }
}

/* Ecosystem Titles
-------------------------------------------------------------*/
.ecosystem-inner-wrap {
  &.visible-el {
    &.element-visible {
      .title {
        opacity: 1;
        transform: scale(1);

        &.title-1 { transition-delay: .2s; }
        &.title-2 { transition-delay: .4s; }
        &.title-3 { transition-delay: .6s; }
        &.title-4 { transition-delay: .8s; }
        &.title-5 { transition-delay: 1s; }
        &.title-6 { transition-delay: 1.2s; }
        &.title-7 { transition-delay: 1.2s; }
        &.title-8 { transition-delay: 1.2s; }
        &.title-9 { transition-delay: 1s; }
        &.title-10 { transition-delay: .8s; }
        &.title-11 { transition-delay: .6s; }
        &.title-12 { transition-delay: .4s; }
        &.title-13 { transition-delay: .2s; }
      }
    }
  }
}
