


@include media-breakpoint-down(sm) {
  .copyright-section {
    font-size: 12px;
  }

  #bottom-bar {
    .wf-container-bottom {
      border: none;
    }
  }

  .foot-widget {
    .foot-title {
      display: block;
      position: relative;
      margin-top: 1rem;
      padding-bottom: .4rem;
      cursor: pointer;
      border-bottom: 1px solid rgba(#626262,.5);

      &::after {
        content: "+";
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    ul {
      display: none;
    }

    &.active {
      .foot-title {
        &::after {
          content: "-";
        }
      }
    }
  }
}
