/* Logo and Hamburger color
------------------------------------------------*/
body {
  .navbar {
    background-color: rgba(#000,0) !important;
  }

  //Background color
  &.scrolling-init,
  &.page-template-whoWeAre,
  &.blog,
  &.single-post,
  &.category,
  &.single-web_projects  {
    #wrapper-navbar {
      .navbar {
        background-color: rgba(#000,1) !important;
      }
    }
  }
}


/* Nav bar
------------------------------------------------*/
.navbar {
  @include media-breakpoint-down(md) {
    padding: 4px 0 6px;
  }
  .container {
    position: relative;
  }
}

.navbar-brand {
  img {
    transition: all 400ms ease;

    @include media-breakpoint-down(md) {
      max-width: 80px;
    }
  }
}

//main.js class
body {
  &.wpfront-bar-on {
    .navbar {
      padding-top: 50px;
    }

    &.scrolling-init {
      .navbar {
        padding-top: 0;
      }
    }
  }
}


//Button
li.lets-discuss-btn > a {
  max-width: 190px;
}
li.lets-discuss-btn > a:after {
  margin-right: 17px;
  margin-left: 22px;
}

.navbar-expand-lg .navbar-nav li.lets-discuss-btn .nav-link,
li.lets-discuss-btn > a {
    background: linear-gradient(4.65deg, #301c3a, #3c204d 23.53%);
    outline: 0;
    border: none!important;
    font-size: 18px;
    padding: .5rem .5rem .5rem .8rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom:2px solid;
    display: inline-block;
    border-color: #351c44 !important;
}

li.lets-discuss-btn > a:hover {
    color: #fff;
    opacity: 1;
}
li.lets-discuss-btn > a:after {
    content: "";
    background-image: url(../images/letsdiscuss_arrows.png);
    position: relative;
    width: 9px;
    height: 14px;
    top: 1px;
    background-position: center;
    margin-right: 6px;
    margin-left: 20px;
    display: inline-block;
}
li.lets-discuss-btn > a:hover {
    color: #fff !important;
    opacity: 1;
}

/* Nav
------------------------------------------------*/
nav.navbar {
  padding-top: 5px;
  padding-bottom: 8px;
}

ul#main-menu {
  //margin: 15px 0 11px;

  > li {
    margin: 0 21px;
    @include media-breakpoint-down(lg) {
      margin: 0 4px;
    }
  }

  @include media-breakpoint-down(md) {
    .dropdown-menu {
      margin-top: 0;
      max-height: 0;
      overflow: hidden;
      transition: all 800ms ease;
      display: block;

      > li:first-child {
        margin-top: 10px;
      }
    }

    .dropdown:hover > .dropdown-menu {
      max-height: 400px;
      opacity: 1;
    }
  }


  @include media-breakpoint-down(md) {
    margin-top: 20px;
    max-height: 100% !important;
    > li {
      margin-left: 2px;
      margin-bottom: 10px;
      .nav-link {
        padding: 0;
        transition: all 400ms ease;
        font-size: 18px;
      }

      &.lets-discuss-btn {
        .nav-link {
          padding: 0.5rem .5rem .5rem .8rem;
        }
      }
      .dropdown-menu {
        padding: 0;

        li {
          transition: all 400ms ease;
          margin: 0 0 4px 1px;
        }

        a {
          padding-top: 0;
          padding-bottom: 0;
          transition: all 400ms ease;
        }
      }
    }
  }
}

/* Hamburger
------------------------------------------------*/
.close-item,
.hamburger {
  position: absolute;
  transition: all 400ms ease;
  z-index: 10;
  right: 2px;
  left: auto;
  top: 10px;
  bottom: auto;
  width: 42px;
  padding: 8px 10px;
  display: block;
  z-index: 2;

  @include media-breakpoint-down(md) {

  }

  .line {
    transition: all 400ms ease;
    height: 2px;
    display: block;
    position: relative;
    width: 100%;
    background-color: #F1F1F1;
    transform: rotate(0);
    margin-bottom: 4px;
    border-radius: 1px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    text-decoration: none;
    .menu-text {
      transform: translateX(2px);
    }
  }

  &.active,
  &.collapsed {
    .line-1 {
      top: 6px;
      transform: rotate(45deg);
    }

    .line-2 {
      top: 0;
      transform: rotate(-45deg);
    }

    .line-3 {
      opacity: 0;
    }
  }
}
