
/* Fix section areas css after deactivating fullpage
--------------------------------------------------------------------------*/
.section-hero-area-wrap {
  min-height: 100vh;
  padding-top: 82px;
  display: flex;
}

.section-clients-area-wrap,
.section-services-area-wrap {
  padding-top: 8rem;
  min-height: 100vh;

  @include media-breakpoint-down(md) {
    min-height: 75vh;
  }

  @include media-breakpoint-down(sm) {
    min-height: 75vh;
  }

  @include media-breakpoint-down(xs) {
    padding-top: 1rem;
  }
}

.section-partners-area-wrap {
  .inner-wrapper {
    padding: 12rem 0 8rem;

    @include media-breakpoint-down(xs) {
      padding: 4rem 0 2rem;
    }
  }
}

.section-what-area-wrap {
  padding: 2rem 0;
}

.section-vertical-slider-area-wrap {
  padding: 8rem 0 0;

  @include media-breakpoint-down(xs) {
    padding: 2rem 0;
  }
}

.section-technologies-area-wrap {
  padding: 8rem 0;

  @include media-breakpoint-down(xs) {
    padding: 2rem 0;
  }
}



/* Arrows - What section
--------------------------------------------------------------------------*/
.arrow-section {
  .arrow-icon {
    cursor: pointer;
    width: 20px;
    height: 28px;
    display: inline-block;
    background-size: contain;
    @extend .arrow-right-white;

    &.purple {
      @extend .arrow-icon-right-purple;
    }
  }
}

.close-icon {
  cursor: pointer;
  width: 20px;
  height: 28px;
  display: inline-block;
  background-size: contain;
  @extend .close-icon-dark;
}
