
/*** Loading
--------------------------------------------------------------------*/
.list-customers-section {
  min-height: 90vh;
  background-color: rgba($primary_purple,0);
  transition: all 900ms ease;
  background-image: url('#{$images-path}/exis-logo-white.png');
  background-repeat: no-repeat;
  background-position: center -200px;
  background-size: 170px auto;

  &.loading {
    transition-delay: 0s;
    background-color: rgba($primary_purple,1);
    background-position: center 120px;

    .customer-item,
    .wrap-taxonomy,
    .params-menu,
    .no-results {
      opacity: 0;
    }
  }
}


.list-customers-section {
  &.loading {
    .customer-item {
      transform: translateY(100%);

      &:nth-of-type(1){ transition-delay: .1s; }
      &:nth-of-type(2){ transition-delay: .2s; }
      &:nth-of-type(3){ transition-delay: .3s; }
      &:nth-of-type(4){ transition-delay: .4s; }
      &:nth-of-type(5){ transition-delay: .5s; }
      &:nth-of-type(6){ transition-delay: .6s; }
      &:nth-of-type(7){ transition-delay: .7s; }
      &:nth-of-type(8){ transition-delay: .8s; }
      &:nth-of-type(9){ transition-delay: .9s; }
      &:nth-of-type(10){ transition-delay: 1s; }
      &:nth-of-type(11){ transition-delay: 1.1s; }
      &:nth-of-type(12){ transition-delay: 1.2s; }
      &:nth-of-type(13){ transition-delay: 1.3s; }
      &:nth-of-type(14){ transition-delay: 1.4s; }
      &:nth-of-type(15){ transition-delay: 1.5s; }
      &:nth-of-type(16){ transition-delay: 1.6s; }
      &:nth-of-type(17){ transition-delay: 1.7s; }
      &:nth-of-type(18){ transition-delay: 1.8s; }
      &:nth-of-type(19){ transition-delay: 1.9s; }
      &:nth-of-type(20){ transition-delay: 2s; }
    }
  }
}

/*** New template
--------------------------------------------------------------------*/
.list-customers-title {
    color: #919191;
    font-size: 23px;
}

.list-customers-desc {
  color: #919191;

  p {
    color: #919191;
  }
}


/*** Menu
--------------------------------------------------------------------*/
.tax-menu-title {
  font-family: $font_primary_bold;
  margin: 1rem 0 1rem 0;
  padding: 0 0 1rem;
  position: relative;
  display: block;

  &::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: $primary_purple;
    position: absolute;
    bottom: 5px;
    left: 0;
    display: block;
  }
}

.page-template-list-customers-filters {
  .list-container__inner {
    max-width: 100%;
  }
}

.wrap-filters-menus {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .list-customers-industries {
    width: 70%;
    padding-right: 2rem;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    li {
      float: left;
      margin: 0 6px 8px 0;
    }
  }

  .list-customers-services {
    width: 30%;

    @include media-breakpoint-down(sm) {
      width: 100%;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          margin-right: 1rem;
          margin-bottom: .5rem;
        }
      }
    }
  }
}

/*** Button
--------------------------------------------------------------------*/
.filter-menu {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .filter-item {
    text-transform: uppercase;
    padding: .5rem 1rem;
    border: 2px solid $primary_purple;
    background-color: transparent;
    color: $primary_purple;
    font-size: 13px;
    font-family: $font_primary_bold;
    display: inline-block;
    transition: all 720ms ease;

    @include media-breakpoint-down(md) {
      padding: .3rem .5rem;
      font-size: 12px;
    }

    &.active,
    &:hover {
      text-decoration: none;
      outline: none;
      background-color: $primary_purple;
      color: #FFF;
    }
  }
}



/*** Button
--------------------------------------------------------------------*/
.filter-menu-radio {

  ul {
    li {
      margin-bottom: 8px;
    }
  }

  .filter-item {
    text-transform: uppercase;
    padding: 2px 0 2px 30px;
    background-color: transparent;
    color: $primary_purple;
    font-size: 13px;
    font-family: $font_primary_bold;
    display: inline-block;
    transition: all 720ms ease;
    position: relative;

    @include media-breakpoint-down(md) {
      padding-left: 26px;
      font-size: 12px;
    }

    &::after,
    &::before {
      content: "";
      display: block;
      border-radius: 50%;
      bottom: auto;
      right: auto;
      position: absolute;
      transition: all 360ms ease;
    }

    &::before {
      background-color: $primary_purple;
      width: 22px;
      height: 22px;
      left: 0;
      top: 0;
      z-index: 1;
    }

    &::after {
      background-color: #F1F1F1;
      width: 8px;
      height: 8px;
      left: 7px;
      top: 7px;
      z-index: 1;
      transform: scale(0);
    }

    &.active,
    &:hover {
      text-decoration: none;
      outline: none;

      &::after {
        transform: scale(1);
      }
    }
  }
}


.wrap-taxonomy {
  opacity: 1;
  transition: all 200ms ease;
}

.customer-wrap {
  display: flex;
  flex-wrap: wrap;

  .customer-item {
    width: 20%;
    padding: 0 2rem 100px;
    opacity: 1;
    transition: all 200ms ease-in;
    transform: translateY(0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-bottom: 1.5rem;
    position: relative;

    .wrap-buttons {
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100px;

      .exis-btn {
        transition: all 360ms ease;
        transform: translateY(30px);
        opacity: 0;
        width: 90%;
        margin-bottom: 8px;

        .fa {
          font-size: 17px;
          position: relative;
          top: 2px;
          left: 8px;
        }
      }
    }

    @include media-breakpoint-down(md) {
      width: 25%;
    }

    @include media-breakpoint-down(sm) {
      width: 33.333%;
    }

    @include media-breakpoint-down(xs) {
      width: 50%;
    }

    img {
      cursor: pointer;
      max-width: 100%;
      height: auto;
      display: block;
      transition: all 1.2s ease;

      -webkit-filter: grayscale(1);
      filter: grayscale(1);

      &:hover {
        -webkit-filter: grayscale(0);
        filter: none;
      }
    }
  }
}


.customer-wrap {
  .customer-item {
    &:hover,
    &:focus,
    &:active {
      .exis-btn {
        opacity: 1;
        transform: translateY(0);

        &.link-two {
          transition-delay: 0.1s;
        }
      }
    }
  }
}

/*** List customers
--------------------------------------------------------------------*/
.page-template-list-customers {
  .list-customers-menu {
    position: absolute;
    top: 540px;
    left: 0;
    color: #fff;
    width: 170px;
	  will-change: opacity;
  }

  .list-customers-menu>h5 {
    background: #10121C;
    text-align: center;
    padding: 10%;
    margin: 0;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
  }

  .list-customers-menu>ul {
    padding: 8%;
    margin: 0;
    background: #F7F7F7;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.2);
    max-height: 100%;
    overflow: auto;
    color: #8C8C8C;
	  display: flex;
    font-size: 22px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .list-customers-menu>ul li {
    list-style-type: none;
    margin: 5px 0;
    width: 100%;
    max-width: 70%;
    padding: 0;
    text-align: center;
    border: none;
	  cursor: pointer;
	  -webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	      order: 1;
  }
}//close


.no-results {
  font-size: 18px;
  font-family: $font_primary_bold;
  color: $primary_color_rgb;
  padding: 4rem 2rem;
  text-align: center;
  opacity: 1;
  transition: all 100ms ease;
}

.params-menu {
  padding: 1rem 0 1rem 4px;
  margin-bottom: 2rem;
  transition: all 200ms ease;
  opacity: 1;

  .found-results {
    font-size: 18px;
    font-family: $font_primary_bold;
    color: $primary_color_rgb;
  }

  .term-param {
    font-size: 14px;
    background-color: #FFF;
    border: 2px solid $primary_color_rgb;
    padding: 1px 8px;
    border-radius: 4px;
    color: $primary_color_rgb;
    font-family: $font_primary_bold;
    display: inline-block;
    margin: 0 4px 0 4px;
  }

  .clear-all {
    a {
      color: $primary_color_rgb;
      font-size: 12px;
      padding: 0 6px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
