/* Mobile menu
------------------------------------------------*/
.mobile-nav-wrap {
  padding: 2rem;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(#000,1);
  z-index: 1050;
  transition: all 720ms ease;
  transform: translateY(-100%);
  overflow: auto;

  .inner-wrap {
    display: flex;
    align-items: center;
  }

  .close-item {
    top: 4%;
    right: 4%;
    bottom: auto;
    left: auto;
    transform: scale(1.4);
    transform: rotate(0deg);

    &:hover {
      transform: rotate(180deg);
    }
  }
}

//Active - Opened menu
body {
  &.opened-menu {
    .mobile-nav-wrap {
      transform: translateY(0);
    }
  }

  &.wpfront-bar-on {
    .mobile-nav-wrap {
      padding-top: 3rem;
    }
  }
}


/* Logo
------------------------------------------------*/
.mobile-nav-wrap {
  .navbar-brand {
    margin-bottom: 2rem;
    display: inline-block;
    transition: all 220ms ease;
    position: relative;
    right: auto;
    left: 0;

    @include media-breakpoint-down(xs) {
      margin-bottom: 1rem;
      width: 80px;
    }

    &:hover {
      left: 2px;
    }
  }
}


/* Animations
------------------------------------------------*/
.exis-nav-mobile {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 600ms ease;
}

//Opened Menu
body {
  &.opened-menu {
    .exis-nav-mobile {
      opacity: 1;
      transform: translateY(0);

      &.menu-1 { transition-delay: .2s;}
      &.menu-2 { transition-delay: .4s;}
      &.menu-3 { transition-delay: .6s;}
    }
  }
}


/* Exis Nav-Mobile cols
------------------------------------------------*/
.exis-nav-mobile {
  a {
    color: rgba(#FFF,1);
    font-family: $font_primary_bold;
    display: inline-block;
    position: relative;
    transition: all 720ms ease;

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      height: 2px;
      width: 0;
      display: block;
      background-color: #FFF;
      transition: all 400ms ease;
    }

    &:hover {
      text-decoration: none;
      color: rgba(#FFF,1);

      &::after {
        width: 40%;
      }
    }
  }
}


/* Mobile - first level
------------------------------------------------*/
.exis-nav-mobile {
  margin: 0;
  padding: 0;

  > li {
    list-style-type: none;
    position: relative;
    transition: all 400ms ease;

    > a {
      font-size: 30px;
      font-family: $font_primary_bold;

      @include media-breakpoint-down(xs) {
        font-size: 22px;
      }
    }
  }
}


/* Second level - submenu
------------------------------------------------*/
.exis-nav-mobile {
  margin-bottom: 2rem;

  @include media-breakpoint-down(xs) {
    margin-bottom: 1rem;
  }

  > li {
    .sub-menu {
      padding: 0;
      width: 100%;
      transition: all 400ms ease;

      li {
        list-style-type: none;
        margin-bottom: 8px;

        @include media-breakpoint-down(xs) {
          margin-bottom: 2px;
        }

        a {
          font-size: 22px;
          font-family: $font_primary_light;

          @include media-breakpoint-down(xs) {
            font-size: 17px;
          }
        }

        &.current_page_item {
          a {
            &:after {
              width: 100%;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  li {
    //active level 1
    &.current_page_item,
    &.current-menu-item {
      > a {
        &::after {
          width: 40%;
        }
      }
    }
  }
}


/* Logos
------------------------------------------------*/
.mobile-nav-wrap {
  .front-logos {
    margin: 0 5px 1.6rem;
    max-width: 100%;
    padding: 1.5rem 0;
    border-top: 1px solid rgba(#626262,.5);
    border-bottom: 1px solid rgba(#626262,.5);
    opacity: 0;
    transform: translateY(100px);
    transition: all 400ms ease;

    .websites-logo__item {
      margin: 5px 0 10px;
      width: 13.5%;

      @include media-breakpoint-down(sm) {
        width: 48.5%;
      }

      img {
        position: relative;
        bottom: auto;
        top: 0;
        max-width: 110px;
        transition: all 280ms ease;
        transform: scale(1);
        opacity: 1;

        @include media-breakpoint-down(lg) {
          max-width: 90px;
        }
      }
    }

    .logo-hover {
      position: relative;
      display: inline-block;

      &::after {
        content: attr(data-hover);
        display: block;
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -40px;
        text-align: center;
        margin: -15px 0 0 -40px;
        width: 80px;
        height: auto;
        font-size: 10px;
        font-family: $font_primary_light;
        text-transform: uppercase;
        color: #FFF;
        transition: all 280ms ease;
        opacity: 0;
      }

      &:hover {
        img {
          top: -5px;
          transform: scale(.6);
        }

        &::after {
          bottom: 0;
          opacity: 1;
        }
      }
    }
  }
}

body {
  &.opened-menu {
    .mobile-nav-wrap {
      .front-logos {
        opacity: 1;
        transform: translateY(0);
        transition-delay: .8s;
      }
    }
  }
}



/* Years
------------------------------------------------*/
.mobile-nav-wrap {
  .years-experience {
    background-size: 56px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('#{$images-path}/years-logo.png');
    background-color: #F1F1F1;
    border-radius: 50%;
    border: 4px solid $primary_color_rgb;
    box-shadow: inset 0 1px 3px rgba(#000,.4);
    transform: scale(.2);
    opacity: 0;
    transition: all 400ms ease;
  }
}

//Opened Menu
body {
  &.opened-menu {
    .mobile-nav-wrap {
      .years-experience {
        transition-delay: 1s;
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}


/* Contact exis
------------------------------------------------*/
.contact-exis {
  text-align: center;
  display: block;
  margin: 2rem 0;
  opacity: 0;
  transform: translateY(100px);
  transition: all 400ms ease;

  a {
    font-family: $font_primary_bold;
    background-color: $primary_purple;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    padding: 6px 20px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #FFF;
    transition: all 270ms ease;
    transform: scale(1);

    .fa {
      transform: scale(1);
      transform: translateY(0);
      transition: all 270ms ease;
    }

    &:hover {
      text-decoration: none;
      transform: scale(1.2);

      .fa {
        transform: translateY(-10px);
        transform: scale(1.5);
      }
    }
  }
}

//Opened Menu
body {
  &.opened-menu {
    .mobile-nav-wrap {
      .contact-exis {
        opacity: 1;
        transform: translateY(0);
        transition-delay: .8s;
      }
    }
  }
}


/* Info
------------------------------------------------*/
.exis-info {
  color: #FFF;
  opacity: 0;
  transform: translateY(100px);
  transition: all 400ms ease;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  font-family: $font_primary_light;
  font-style: normal;

  strong {
    font-weight: normal;
  }

  @include media-breakpoint-down(xs) {
    font-size: 12px;
  }

  a {
    color: #FFF;
  }

  .fa {
    font-style: normal;
  }

  .divider {
    font-style: normal;

    @include media-breakpoint-down(xs) {
      display: block;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }
  }
}

//Opened Menu
body {
  &.opened-menu {
    .mobile-nav-wrap {
      .exis-info {
        opacity: 1;
        transform: translateY(0);
        transition-delay: .8s;
      }
    }
  }
}
