/* Animations
-----------------------------------------------------*/
.headline-section,
.projects-container {
  transition: all 200ms ease;

  &.loaded {
    opacity: 1 !important;
  }
}


.projects-container {
  .text-right {
    
  }
}


/* Other projects side menu
-----------------------------------------------------*/
.other-projects {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 28%;
  transition: transform 250ms ease;
  transform: translateX(-100%);

  //CSS for mobile
  @include media-breakpoint-down(md) {
    display: none;
    position: relative;
    top: 10px;
    left: calc(100% - 250px);
    transform: translateX(0) !important;
  }

  .other-projects__label h5 {
    text-transform: uppercase;
    font-size: 0.92em;
    padding: 10px 15px 15px;
    margin: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}


//Active onScroll for desktop only - up md
body {
  &.show-sidemenu {
    .other-projects {
      &.has-projects {
        @include media-breakpoint-up(md) {
          transform: translateX(0);
        }
      }
    }
  }
}


/* Headline
-----------------------------------------------------*/
.headline-section__inner {
  position: relative;

  .headline-section__title {
    padding-right: 40px;
    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }
  }

  .mobile-dots {
    position: absolute;
    right: 15px;
    top: 15%;
    z-index: 5;
    display: block;
    opacity: 0;
    z-index: -1;
  }
}

.headline-section__inner {
  .mobile-dots {
    &.has-menu {
      transition: all 600ms ease;
      @include media-breakpoint-down(md) {
        opacity: 1;
        z-index: 5;
      }
    }
  }
}


/* Other projects nav
-----------------------------------------------------*/
.other-projects__inner {
  position: relative;

  ul.other-projects__list {
    margin: 0;
    list-style-type: none;
    background: $primary_purple;
    color: #fff;
    display: block;
    padding: 20px 15px;
    z-index: 1;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      left: 0;
      right: 0;
      bottom: auto;
      height: 20px;
      width: 100%;
      background: $primary_purple;
      clip-path: polygon(0 0, calc(50% - 10px) 0, 50% 50%, calc(50% + 10px) 0, 100% 0, 100% 100%, 0 100%);
    }

    li {
      border-bottom: 1px solid rgba(#fff,.2);
      padding-bottom: 0.6em;
      margin-bottom: 1em;
      font-size: 15px;
      line-height: 1.3;
      cursor: pointer;
      opacity: .9;
      transition: all 360ms ease;

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
      }

      &.active-project-li:not(:last-child) {
        border-bottom: 1px solid rgba(#fff,1);
        opacity: 1;
      }
    }
  }
}


/* Left fixed menu
-----------------------------------------------------*/
.left-fixed-menu {
  .logo-item {
    img {
      filter: grayscale(100%);
    	margin: auto;
      min-width: 100px;
      transition: all 200ms ease;
      @include media-breakpoint-down(sm) {
        min-width: 85px;
      }

      &.active-client {
        filter: none;
      }
    }
  }
}


/* Dropdown
-----------------------------------------------------*/
.left-fixed-menu {
  .dropdown-menu-clients {
    padding: 8px 5px;
    margin: 0;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: auto;
    left: calc(100% + 10px);
    right: auto;
    background-color: $primary_purple;
    width: auto;
    height: 100%;
    z-index: 5;
    transition: all 360ms ease;
    transform: translateY(-100%);

    //arrow
    .menu-arrow {
      position: absolute;
      z-index: 10;
      top: 50%;
      margin-top: -10px;
      left: -10px;
      display: block;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid $primary_purple;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;

      li {
        border-bottom: 1px solid rgba(#FFF,.2);
        width: auto;
        text-align: left;
        font-size: 13px;
        display: block;
        padding: 2px;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}


//Active
.left-fixed-menu {
  .logo-item {
    &.active-li {
      .dropdown-menu-clients {
        transform: translateY(0);
      }
    }
  }
}
