/*
Giannis css have - copied from styles.css and fixed
----------------------------------------------------------*/
html, body {
    overflow-x: hidden;
}

/* hide scroll to top */
.scroll-top{display: none!important;}

.text-center img {
  display: inline-block;
}

@media only screen and (min-width: 768px){
  .dropdown:hover>.dropdown-menu {
    display: block;
    max-height: 400px;
    opacity: 1;
  }
  .dropdown>.dropdown-menu {
    margin: 0;
    transition: all 0.5s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }
}

.dropdown-menu{
	background: #000;
	margin: 0;
	margin-top:-10px;
}

.dropdown-menu a{
	color: #eee;
	padding-left: 5px;
    padding-right: 5px;
}

ul.dropdown-menu a{
    margin-bottom: 8px;
}

.dropdown-menu li a:hover{
	background: #eee;
}

.custom-logo-link {
    max-width: 90px;
    transition: all ease 0.5s;
}
.scrolled {
    padding-bottom: .25rem!important;
    padding-top: .25rem!important;
}
body.home {
    background-color: #32203c;
}
body.home.fp-viewing-0, body.home.fp-viewing-2 {
    background-color: #fff;
}
.front-partners-section {
    background-color: #fff;
    background-image: url('#{$images-path}/bg-partners-blurred.jpg');
    background-size: cover;
}

.websites-technologies--front h5{
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.front-partners__desc {
    font-size: 45px;
    font-weight: 300;
    line-height: 66px;
    color: #fff;
    font-family: $font_primary_light;
	  margin-top: 0;
}
.scrolled .custom-logo-link {
    max-width: 80px;
}
.front-video-section{
	background: linear-gradient(179.49deg, #000000 0%, #150B1A 100%);
  transition: 400ms 400ms ease-in-out;
	opacity:0;
}
.front-video-section.active{
	opacity:1;
}
.front-video-section.is-not-active {
    opacity: 0;
}
.front-services-section{
    background: linear-gradient(0deg, #32203c 0%, #10121C 100%);
}
.site-main {
    width: 100%;
}

.bg-primary {
    padding:0.7rem 0 1rem;
    transition: all ease 0.3s;
    opacity: 0;
}
body[class*="fp-viewing-"] .bg-primary{
    opacity: 1;
}
body.fp-viewing-0 .bg-primary {
    background: transparent !important;
}
.services-slider__container{
	background: #000;
}
.wrapper {
    padding: 0;
}
.front-video-wrapper-over {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: right;
    position: relative;
    max-width: 440px;
    height: 449px;
    overflow: hidden;
}
.front-video-wrapper-full{
	 height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
	top: 0;
}
.front-video-wrapper-full video {
    width: 100%;
    right: 0;
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
}
.front-video-wrapper-full:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}
.front-video-wrapper-text * {
    color: #fff;
}
.services-item {
    line-height: 1.1;
        animation-duration: 0.5s;
}
.front-video-wrapper-text h2 {
    margin-bottom: 2rem;
    animation-duration: 0.5s;
    font-size: 2.6em;
}
.front-video-wrapper-text {
    flex-basis: 66%;
	max-width: 440px;
	position: relative;
    z-index: 1;
}
.front-video-wrapper-over video{
	width: 820px;
    right: 0;
    right: -99px;
    position: absolute;
    top: 0;
}
.front-video-wrapper-over img{
	pointer-events: none;
	right: 0;
    position: absolute;
    top: 0;
    width: 440px;
}

.front-clients-section {
    background: #150B1A;
    transition: 400ms 400ms ease-in-out;
}
.front-clients-section.is-active {
    background: #fff;
    transition: 400ms 400ms ease-in-out;;
}
.dark-small-font {
    color: #2A2A2A;
    font-family: $font_primary_light;
    font-size: 1.7rem;
    margin-bottom: 1.1rem;
}
.light-small-font{
	    color: #fff;
    font-family: $font_primary_light;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}
.front-partners-wrapper-desc {
    font-family: $font_primary_light;
    font-size: 2.2rem;
}
.partners-grid {
    background-color: rgba(0, 0, 0, 0.6);
	    padding: 1% 0;
}


.partners-grid p{
    margin-top:15px;
    font-size: 17px
}

.partners-item{
	    font-size: 18.36px;
    color: #b1b1b1;
	font-family: $font_primary_light;
	width: 33.3%;
	    margin: 30px 0;
}
.slider-client {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
	width: 100%;
	position: relative;
}
.left-side-partners{
	border-right: 1px solid;
}
.client-testimonial {
    max-width: 630px;
    margin-right: 7rem;
    border-right: 1px solid;
    font-family: $font_primary_light;
    padding-right: 6rem;
    font-size: 1.3rem;

    @include media-breakpoint-down(xs) {
      font-size: 1.1rem;
    }
}
.client-testimonial--info p, .client-testimonial p{
	margin:0;

}
.client-testimonial--info {
    margin-left: 1rem;
}
.front-clients-section__inner {
    padding: 0;
}
.front-clients-section>div {
    opacity: 0;
    transition: 400ms 400ms ease-in-out;
}
.front-clients-section.is-active>div {
    opacity: 1;
    transition: 400ms 400ms ease-in-out;
}
.slider-client__item {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    opacity: 0.5;
    outline: 0;
    transition: opacity 0.5s ease;
    text-align: center;
}
.slick-current-me{
	opacity: 1;
}
.slick-list {
    overflow: hidden;
}
.slider-client.slick-initialized {
    visibility: visible;
    opacity: 1;
}
.front-services-wrapper-text .title {
    font-size: 2.7rem;
    font-family: $font_primary_light;
    color: #FFF;
}
.light-big-font{
    font-size: 3.3rem;
    font-family: $font_primary_light;
    max-width: 700px;
    line-height: 3.8rem;
}
.services-slider-section {
	margin: 0;
	    width: 100%;
    overflow: hidden;
}
.services-right-side {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.services-slider-section__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.services-slider-item.slick-center .title {
    margin-left: 0.5rem;
}
.slick-center .category-item {
    margin-right: 2rem;
}
.services-slider-item {
    display: flex;
    align-items: center;
    margin: 0.7rem 0 0;
    padding: 0 1rem;
    outline: 0;
    margin-left: 25px;
    cursor: pointer;
    background: linear-gradient(270deg, #000000 0%, #0d0d0d 100%);
    color: #696969;
    justify-content: space-between;
    backface-visibility: hidden;
    transition: transform ease-in-out 0.2s;
	  height: 90px;
    max-width: 92%;
    float: right;
}
.services-slider .slick-list:before {
    content: "";
    height: 85px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(4, 3, 5, 0.68) 62.18%, rgba(18, 15, 23, 0))!important;
    max-width: 92%;
    right: 0;
}
.services-slider .slick-list:after {
    content: "";
    height: 77px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    background: linear-gradient(rgba(18, 15, 23, 0), rgba(18, 15, 23, 0.68) 43.92%, rgba(0, 0, 0, 0.77))!important;
    max-width: 92%;
    right: 0;
}
.services-slider .slick-list {
    overflow: hidden;
}
.services-slider-item.slick-center {
    color: #fff;
	  max-width: 100%;
    transition: color 200ms ease;
}
.services-slider-item .title {
    margin: 0;
	font-size: 30px;
}
.services-slider {
	opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
	width: 100%;
    position: relative;
}
span.services-arrow {
    position: absolute;
    left: -100px;
    font-size: 2.2rem;
    color: #fff;
    cursor: pointer;
    font-family: $font_primary_light;
      -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.services-slider-item *{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.animate {
    opacity: 0;
    transform: translate3d(0,40px,0);
    transition: opacity 600ms ease-out,transform 400ms ease-out;
}
.animate.is-active {
    opacity: 1;
    transform: translate3d(0,0,0);
}
.services-arrow-next {
    top: 42%;
    transform: rotate(90deg);
}
.services-arrow-prev {
    top: 31%;
    transform: rotate(90deg);
}
.services-slider.slick-initialized {
    visibility: visible;
    opacity: 1;
}
.white-font {
    color: #fff;
}
.front-services-wrapper-text {
	margin: 2rem 0 2rem;
}
.hero-section {
    width: 100%;
}
a.card-item {
    color: #fff;
    text-decoration: none;
        position: relative;
}
.card__background{
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    width: 247.21px;
    border-radius: 16.85px;
        position: relative;
    height: 380px;
      -webkit-transition:
    -webkit-filter 200ms linear,
    -webkit-transform 200ms linear;
      transition:
    -webkit-filter 200ms linear,
    -webkit-transform 200ms linear;
      -o-transition:
    filter 200ms linear,
    transform 200ms linear;
      transition:
    filter 200ms linear,
    transform 200ms linear;
      transition:
    filter 200ms linear,
    transform 200ms linear,
    -webkit-filter 200ms linear,
    -webkit-transform 200ms linear;
    width: 247.21px;
    border-radius: 16.85px;
        position: relative;
    height: 380px;
      -webkit-transition:
    -webkit-filter 200ms linear,
    -webkit-transform 200ms linear;
      transition:
    -webkit-filter 200ms linear,
    -webkit-transform 200ms linear;
      -o-transition:
    filter 200ms linear,
    transform 200ms linear;
      transition:
    filter 200ms linear,
    transform 200ms linear;
      transition:
    filter 200ms linear,
    transform 200ms linear,
    -webkit-filter 200ms linear,
    -webkit-transform 200ms linear;

    @include media-breakpoint-down(xs) {
      height: 280px;

      .card__content {
        bottom: 0;
      }
    }
}
.card__content {
    position: absolute;
    bottom: 65px;
    width: 180px;
    left: 30px;
    height: 196px;
}

h3.card__heading {
    font-size: 1.7rem;

    @include media-breakpoint-down(xs) {
      font-size: 1.2rem;
    }
}

h3.card__heading span{
	font-size: 2.3rem;

  @include media-breakpoint-down(xs) {
    font-size: 1.8rem;
  }
}
.card-item:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.front-services-section .fp-tableCell {
	opacity:0;
    transition: 400ms 400ms ease-in-out;
    padding-bottom: 5px;
}

.services-slider-item .title {
  color: #414141;
  transition: all 200ms ease;
}

span.category-item {
    color: #414141;
    transition: all 200ms ease;
}

.services-slider-item.slick-center .title,
.services-slider-item.slick-center span.category-item {
    color: #fff;
}
.services-left-side {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
}
.filters-services {
    margin-top: 3rem;
}
.filters-services__item {
    //font-family: $font_primary;
    cursor: pointer;
    font-size: 1.1rem;
	border-bottom: 2px dashed rgba(255, 255, 255, 0.22)!important;
	color: #fff!important;
	padding: 4px 10px 2px 10px;
}
.front-services-section.is-active .fp-tableCell{
	opacity:1;
    background: linear-gradient(0deg, #32203c 0%, #090E14 100%);
    transition: 400ms 400ms ease-in-out;
}
.headlines-section{
    margin: 6rem 0px 9rem;
}
.slider-partners {
    margin:10rem 0 13rem;
}
.slider-partner__item {
    display: inline-block;
    vertical-align: top;
    outline: 0;
    text-align: center;
}
.right-side-partners{
    padding-left: 6%;
}
.front-techs-wrapper>div {
    font-family: $font_primary_light;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}
.front-news-section {
    background: linear-gradient(245.45deg, #6D4283 0%, #090E14 100%);
    padding: 3rem 0 4rem;
}
.cta-discuss-section>h3 span {
    font-family: $font_primary_bold;
}
.news-slider {
    position: relative;
    padding-bottom: 50px;

    .arrow-blog {
      bottom: 0;
    }
}
.next-arrow-blog {
    left: 62px;
}

.prev-arrow-blog {
    left: 10px;
}

.arrow-blog{
	position: absolute;
    bottom: -90px;
	  width: 48px;
    height: 48px;
    display: inline-block;
    cursor: pointer;
    background-size: contain;

    &.next-arrow-blog {
      @extend .arrow-right-slick;
    }

    &.prev-arrow-blog {
      @extend .arrow-left-slick;
    }
}
.news-section {
    border-right: none;

    .title-item {
      margin-bottom: 1rem;
    }
}

.cta-lets-discuss-wrapper {
  padding: 2rem 0 0;
}
.cta-discuss-section>h3 {
    margin-bottom: 3rem;
}
.cta-discuss-section>a{
	font-size: 1.9rem;
    font-family: $font_primary_light;
    line-height: 1.4;
	position: relative;
  display: inline-block;
}
.cta-discuss-section>a:hover {
    color: #fff;
    text-decoration: none;
}
.cta-discuss-section>a>span {
    border-bottom: 1px solid;
    font-style: italic;
}
.news-item {
    display: inline-block;
    vertical-align: top;
    outline:0;
    margin-bottom: 2rem;
}
.news-item h4 {
    color: #fff;
        margin-top: 0.7rem;
    margin-bottom: 0.8rem;
}
.front-parallax-section {
	background-image:url('#{$images-path}/parallax-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
        position: relative;
}
.news-item a {
    color: #fff;
    text-decoration: underline;
    outline: 0;
}
.news-section>h2 {
    font-family: $font_primary_light;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.front-partners-section__inner, .front-services-section__inner {
    padding-top: 0;
}
.front-video-section_inner{
   height: 95vh;
     height: 100vh;
}
.front-clients-section__inner{
	   /*height: 80vh;*/
  	   height: auto;
}
.front-parallax-section__inner{
	height: 100vh;
}
.cursor-circle {
    position: absolute;
    width: 155px;
    height: 62px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    border-radius: 60px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#parallax-container{
cursor: pointer;
}
.ex-moto{
width: 100%;
    color: #fff;
    text-align: center;
    font-size: 2.8rem;
    max-width: 780px;
    margin: auto;
}
#wrapper-footer {
    background: #090E14;
	color:#fff;
	position: relative;
}
footer#colophon {
    padding: 4rem 0;
    @include media-breakpoint-down(sm) {
      padding: 2rem 0;
    }
}
.logo-footer {
    margin-bottom: 2.6rem;
}
h2.foot-title {
    font-size: 1.1rem;
    line-height: 26px;
    text-transform: none;
    margin-bottom: 0.8rem;
    color: rgba(255, 255, 255, 0.8);
}
.foot-widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.foot-widget a{
	color:#fff;
}
.wf-container-bottom {
    padding: 10px 0;
    min-height: 60px;
}
#bottom-bar .wf-container-bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
}
.foot-widget ul li {
    font-size: 15px;
/*	font-family: 'Ubuntu Mono', monoscope;*/
}
/*div#bottom-bar {
    font-family: 'Ubuntu Mono', monoscope;
}*/
li.contact-footer-link {
    margin-top: 20px;
}
li.contact-footer-link a {
    text-decoration: underline;
}

.wf-container-bottom{
    border-top: 1px solid rgba(255,255,255,.12);
}
#bottom-bar a{
    color: #fff;
}
.foot-widget a:hover {
    color: #c7c7c7;
    text-decoration:none;
}
.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
body.page .bg-primary, body.blog .bg-primary, body.archive .bg-primary, body.single .bg-primary{
	opacity:1;
}
.projects-categories__list {
    clear: both;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: uppercase;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.active.projects-categories__list-item {
    background: #000;
}

.what-section__item--cont>h2 {
    font-family: $font_primary_bold;
    font-size: 31px;
    min-height: 101px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.3em;
    line-height: 34px;
}
h2.what-section__mlt-title{
    min-height: auto;
    margin-bottom: 0.5em;
}
.page-content {
    color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.page-moto {
    position: relative;
}
.page-title {
     border-right: 2px solid #fff;
    margin-right: 8%;
    padding-right: 4%;
}
.page-moto-man {
    position: absolute;
    right: 9rem;
    margin-top: 4%;
}
.page-moto h2 {
    font-size: 29px;
	    margin: 0;
}

.front-fold-section {
    background-color: #000;
    background-size: cover;
}
.front-fold-section_inner {
    color: #fff;
}
.front-fold-wrapper-text {
     max-width: 670px;
	 position: relative;
    z-index: 1;
 }
.front-fold-wrapper-text .main-title{
    font-size: 70px;
    line-height: 74px;
    margin: 0;
}

.services_fold__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 340px;
    max-width: 183px;
    font-size: 26.64px;
    font-weight: 900;
}

.front-fold__services {
    border-left: 1px solid #fff;
    padding-left: 12%;
	position: relative;
    z-index: 1;
}
.page-cta-discuss-section>h3 {
    font-size: 56px;
    margin: 0;
    line-height: 61px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
	max-width: 840px;
    width: 100%;
}
.page-cta-link{
	font-size: 35px;
    text-transform: uppercase;
    font-family: $font_primary_bold;
    text-align: right;
    width: 300px;
}
.page-cta-link:hover {
    color: #fff;
    text-decoration: none;
}
.page-cta-section {
    background: -webkit-linear-gradient(204.55deg, #6D4283 0%, #090E14 100%);
    background: -o-linear-gradient(204.55deg, #6D4283 0%, #090E14 100%);
    background: linear-gradient(245.45deg, #6D4283 0%, #090E14 100%);
	padding: 4.4% 0;
	position: relative;
	clear: both;
}
.page-cta-link span{
	position:relative;
}
.page-cta-link span::after {
    content: "";
    @extend .arrow-right-white;
	  height: 41px;
    width: 28px;
    position: absolute;
    right: -48px;
    top: -4px;
}
.page-cta-discuss-section>h3 span {
    font-family: $font_primary_bold;
}
.page-title>h1 {
    font-size: 70px;
    max-width: 285px;
    text-align: left;
    line-height: 81px;
    font-family: $font_primary_bold;
    margin: 0;
    text-transform: capitalize;
}
.column-text{
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
}
.column-text>h1{
   font-size: 3em;
	max-width: 100%;
	    font-family: $font_primary_bold;
}
.column-text:first-child{
    border-right: 2px solid #fff;
    padding-right: 3%;
}
.column-text:last-child{
    padding-left: 3%;
}
.what-section__services {
    max-width: 1280px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
}
.more-info-hidden{
	position: absolute;
    width: 0;
	left: 100%;
    background: #fff;
    height: 100%;
	z-index: 1;
    top: 0;
    overflow: hidden;
}
.what-section__item {
    padding: 3%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
	    font-size: 1.2em;
	    margin-right: 1%;
}
.what-section__item ul {
    padding-left: 1em;
}
.what-section__item--eshop {
    background: #282727;
    color: #fff;
	margin-right: 0%;
}
.arrow-section>img {
    max-width: 17.5px;
    cursor: pointer;
}
.what-section {
    margin-top: -85px;
}
.what-section__item--soft {
    background-color: #F3F3F3;
}
.what-section__item--it {
    background-color: #A29A9A;
    color: #fff;
}
.years-logo-section{
    margin: 5% 0;
}
.arrow-section {
    transition: all ease 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: -10px;
    right: 0;
}
.what-section__item--cont {
    height: 100%;
    position: relative;
	font-size:1em;
}
.rotate{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.hidden-more-info {
    position: absolute;
    top: 0;
    background: #fff;
    width: 864px;
    height: 100%;
    z-index: 1;
    opacity: 1;
    color: #3B1F4C;
    display: none;
    left: 100%;
}
.what-section__item--soft .hidden-more-info {
    right: 0;
	left:unset;
}
.visible-more-info{
  z-index: 1;
  opacity: 1;
  -webkit-transform: translateX(48.4%);
  -ms-transform: translateX(48.4%);
  transform: translateX(48.4%);
  color: #3B1F4C;
}
.hidden-more-info__inner {
  padding: 5.6% 9.6%;
}
.hidden-more-info__inner>h2 {
    margin: 0;
    font-size: 42px;
    margin-bottom: 0.4em;
}
.close-icon {
    max-width: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
main#blog-main {
    padding-top: 180px;
}
.read-more-services{
	position: relative;
	font-family: $font_primary_bold;
}
.read-more-services a:after{
	    content: "";
    height: 26px;
    width: 17px;
    position: absolute;
    background-repeat: no-repeat;
    right: -30px;
    top: 2px;
    background-size: contain;
}
.read-more-services a {
    color: #3B1F4C;
    text-decoration: none;
}
h1.blog-page-title {
    font-family: $font_primary_bold;
    font-size: 3.2em;
    position: relative;
    line-height: 64px;
    margin-bottom:2.1em;
    max-width: 440px;
    margin-right: 4%;
	min-width: 252px;
}
.page-header-default-template h1.blog-page-title{
	border-right: 1px solid #fff;
	    padding-right: 30px;
}
h1.blog-page-title:after {
	content: "";
    background: #000;
    position: relative;
    top: 28px;
    height: 133px;
    width: 3px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
	display:none;
}
article.blog-item {
    max-width: 898px;
    width: 100%;
}
article.blog-item img {
    width: 100%;
}
header.blog-entry-header {
    padding: 3% 5%;
}
h2.blog-entry-title {
    font-size: 22px;
    font-family: $font_primary_bold;
	    margin: 0 0 10px 0;
}
h2.blog-entry-title a {
	color: #6F30A0;
	text-decoration: none;
}
header.blog-entry-header {
    padding: 3% 5% 3% 5%;
    display: block;
}

header.blog-entry-header * {
	color:#fff!important;

  .blog-date {
    font-family: $font_primary_bold;
    margin-bottom: .6rem;
    display: block;
  }
}
header.blog-entry-header{
	background:#10121C!important;
	margin-bottom: 40px;
}

.view-more-section a {
    color: #6D4283;
    text-decoration: none;
	position: relative;
}
.view-more-section a:after {
    content: "";
    color: #6D4283;
    width: 8px;
    position: absolute;
    height: 12px;
    background-size: cover;
    top: 2px;
    left: 100%;
    margin-left: 10%;
    display: inline-block;

    @extend .dark-arrow;
}
li.nav-item.projects-categories__list-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
	    border-right: 1px solid #fff;
}
.projects-categories__list-item .nav-link {
    color: #fff;
    padding: 10px 30px;
    text-align: center;

    @include media-breakpoint-down(lg) {
      padding: 10px 20px 18px;
    }
}
.active.projects-categories__list-item .nav-link {
    color: #fff;
    background: #000;
}
ul.pagination {
    max-width: 898px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 4em;
    margin-top: 1em;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #9B9B9B;
    background-color: transparent;
    border: 0px solid #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #6D4283;
    background-color: #fff;
    border-color: #fff;
    font-size: 20px;
}
.page-link:hover {
    z-index: 2;
    color: #6D4283;
    text-decoration: none;
    background-color: #fff;
    border-color: #fff;
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(85,51,255,0);
    box-shadow: 0 0 0 0.2rem rgba(85,51,255,0);
}
.fixed-menu {
    position: fixed;
    top: 200px;
    right: 0;
    color: #fff;
    width: 220px;
}
.fixed-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
/*     background: #3B1F4C; */
	background: -webkit-linear-gradient(85.35deg, #000000 0%, #412154 100%);
	background: -o-linear-gradient(85.35deg, #000000 0%, #412154 100%);
	background: linear-gradient(4.65deg, #000000, #412154);
}
.fixed-menu ul li a {
    color: #fff;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid;
    margin-left: 42px;
    margin-right: 30px;
    text-decoration: none;
}
.fixed-menu ul li:last-child a {
    border: none;
}
.fixed-menu ul li {
    position: relative;
}
.fixed-menu ul li.active-item a{
	font-family: $font_primary_bold;
}

li.active-item:before {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    content: "";
    vertical-align: middle;
    position: absolute;
    top: 7px;
}

.fixed-menu>h5 {
    font-size: 16.67px;
    text-align: center;
    color: #2A2A2A;
    text-transform: uppercase;
}
.page-header-default {
	position: relative;
    z-index: 1;
    background: linear-gradient(90deg, #090E14 0%, #3B1F4C 100%);
    padding-top: 140px;
}
h1.white-font.blog-page-title:after {
    content: "";
    background: #fff;
    position: relative;
    top: 28px;
    height: 133px;
    width: 3px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-left: 30px;
	display:none;
}
li.projects-categories__list-item:last-child{
	    border-right: 0px solid #fff;
}
.software-container__inner {
    max-width: 93%;
    margin-left: auto;
    padding-bottom: 2.9em;
    padding-top: 2.5em;
}
.project-info__desc {
    border-left: 1px solid #000;
}
.grey-bg {
    background: rgba(236,236,236,0.74);
}

/* Grid for software projects - Mobile
-----------------------------------------------------*/
.project-info-box {
  font-size: 18px;
  line-height: 28px;
  color:#000;

  ul {
    padding-left: 1.5rem;
  }

  //Mobile sm
  @include media-breakpoint-down(sm) {
    font-size: 16px;
    line-height: 1.8;
    flex-wrap: wrap;

    .project-info__label--div {
      &::after {
        display: none;
      }
    }

    .project-info__desc {
      margin-bottom: 2rem;
    }

    .project-info__label--div {
      margin-bottom: 1rem;
    }
  }
}

.project-info__desc>div {
    margin-left: 1em;
    margin-bottom: 0;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
}
.project-info__label>div {
    margin-right: 1em;
	position: relative;
  font-family: $font_primary_bold;
	counter-increment: my-awesome-counter;
  .title-outcome {
    margin-bottom: 2rem;
  }
}
.project-info__label {
    font-size: 21px;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
}
.project-info__desc>div p {
    margin-bottom: 3px;
}
.solution-section .project-info-box {
    font-size: 22px;
    line-height: 26px;

    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 1.8;
    }
}
.solution-section .software-container__inner {
    max-width: 95.6%;
}
.outcome-section {
    margin-top: 3em;
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
}
.outcome-section .project-info-box {
    font-size: 22px;
    line-height: 26px;
    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 1.6;
    }
}
.outcome-section h2, .single-title-heading {
    font-family: $font_primary_bold;
    font-size: 2.2em;
    line-height: 45px;
}
.technologies-section__list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #8A8A8A;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	    padding-top: 0.5em;
    border-top: 1px solid #8A8A8A;
}
.technologies-section {
    margin-top: 5em;
	color: #8A8A8A;
}
.technologies-section h5 {
	font-family: $font_primary_bold;
	margin-bottom: 1em;
}
.technologies-section__inner {
    max-width: 80%;
    margin: auto;
}
.technologies-section__list ul li {
    font-size: 21px;
    border-right: 1px solid #8A8A8A;
    padding: 0 10px;
    margin-top:10px;
    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
}
.technologies-section__list ul li:last-child{
	border-right: 0px solid #8A8A8A;
}



/* Projects
--------------------------------------------------------------------*/
.page-template-projects-software {
  .left-fixed-menu {
    position: relative;
    top: 0;
    left: 0;
    color: #fff;
    width: auto;
  }

  .left-fixed-menu>h5 {
      background: #10121C;
      text-align: center;
      margin: 0;
      display: none;
      font-size: 16px;
      text-transform: uppercase;
  }

  .left-fixed-menu>ul{
    display: flex;
    background: #FFF;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
    border-bottom: 1px solid rgba(#CCC,.5);
    height: 128px;
    padding: 0;
    margin: 0;
    overflow: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    @include media-breakpoint-down(sm) {
      height: 100px;
    }
  }

  .left-fixed-menu>ul li {
    width: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0px solid;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.projects-categories__list {
  white-space: nowrap;
  overflow-x: auto;
}

li.nav-item.projects-categories__list-item{
    width: auto;
	-webkit-box-ordinal-group:2;
	    -ms-flex-order:1;
	        order:1
}
.active.projects-categories__list-item {
/* 	order:0 !important */
}
li.projects-categories__list-item:last-child.active {
	border-right: 1px solid #fff;
}


.fixed{
	  position: fixed;
    top: 140px;
}
.web-item img {
    width: 100%;
}
h2.web-entry-title {
    font-family: $font_primary_bold;
    margin: 0;
	    font-size: 1.8em;
}
h2.web-entry-title a{
	color:#000;
	text-decoration:none;
}
.heading-container {
    margin-top: 1em;
}
.web-item {
    margin-bottom: 3em;
}
.view-more--web {
    position: absolute;
    right: 45px;
    bottom: -10px;
}
.web-entry-header {
    min-height: 160px;
}
.web-pagination ul.pagination {
     max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0em;
    margin-top: 2em;
}

.active-letter {
    background-color: #817588;
    color: #3B1F4C;
}
.list-container__inner {
    max-width: 75%;
    margin-left: auto;
    padding-top: 2rem;
}

.row-letter-customers__list {
    width: 100%;
}
.row-letter-customers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 6em;
    width: 100%;
}
.list-customers-section {
    margin-top: 5em;
}
.row-letter-customers__list li {
    margin-bottom: 2em;
}
.row-letter-customers>h3 {
    font-size: 42px;
    font-family: $font_primary_bold;
    color: #3B1F4C;
    width: 38px;
    text-align: center;
}
.row-letter-customers__list ul {
    border-left: 1px solid #090E14;
    margin-left: 2em;
    padding-top: 0.5em;
    padding-left: 1.7em;
    list-style-type: none;
    color: #747474;
}
#single-main {
    width: 100%;
}

.project-info__label--div:after {
  content: counter(my-awesome-counter);
  position: absolute;
	margin-top: -38px;
	font-size: 14px;
	font-size: .875rem;
	font-family: Plain-Ultralight,sans-serif;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,.1);
	line-height: 51px;
	text-align: center;
	right: 0;
	top: 72px;
}
.software-container-loop{
	 counter-reset: my-awesome-counter;
	display:none;
}
.software-container-loop:first-child{
	display:block;
}
.header-single-row {
    margin-top: 4em;
	    position: relative;
    z-index: 1;
}
.single-client-info {
    margin-left: 5%;
    margin-bottom: 7%;
    margin-top: 4%;
}
.logo-client {
    max-width: 330px;
    margin-top: 4%;
}
.outcome-single-row{
	margin-bottom:7em;
	margin-top: 5.5em;
}
.related-projects-row {
    margin-bottom: 5em;
}
.related-projects__title {
    font-family: $font_primary_bold;
    font-size: 2.7em;
    line-height: 45px;
    margin-bottom: 1.3em;
}
.fixed-slider-section {
    background: #171717;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
	position:relative;

  //Chris
  flex-direction: unset;

  @include media-breakpoint-up(md) {
    flex-direction: row-reverse;
  }
}
.right-sidebar {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.right-sidebar>div {
    margin-top: 10%;
	text-align: right;
}
.left-sidebar {
    width: 30%;
    right: auto;
    bottom: auto;
    top: auto;
    left: 0;
    z-index: 999;

    @include media-breakpoint-down(md) {
      position: relative !important;
      top: 0 !important;
    }

    @include media-breakpoint-up(xl) {
      position: absolute;
      width: 34%;
    }
}
.slider-content-description {
	position: relative;
    margin-left: 40px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 338px;
}

.slider-content-description__div a{
	text-decoration: underline;
	color: #eee!important;
}

.slider-content-description__div a:hover{
	color: #bcbcbc!important;
}

@media only screen and (min-width: 1200px){
	.container {
    	max-width: 1200px;
	}
}


/* added by dmilio */
.front-video-wrapper-text h2{
	font-size: 3rem;
}

.services-item{
	font-size: 18px;
	line-height: 21px;
}

#single-post-main {
    padding: 140px 0 80px;
}

.solution-section .project-info-box,
.outcome-section .project-info-box{
	font-size: 21px;
  line-height: 34px;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 1.8;
  }
}
.single-thumbnail img {
    width: 100%;
}
.single-entry-title {
    font-family: $font_primary_bold;
    font-size: 2.2em;
}
.single-thumbnail {
    margin: 25px 0;
}
.front-video-wrapper-over{
	transform: scale(1.3);
}
.zindex{
z-index:1;
}
.front-what-section {
    margin-top: 0;
    transition: 400ms 400ms ease-in-out;
	background: -webkit-linear-gradient(0deg, #000000 0%, #412154 100%);
	background: -o-linear-gradient(0deg, #000000 0%, #412154 100%);
background: linear-gradient(0deg, #000000, #321E3C)
}

.front-what-section>div {
    transition: 400ms 400ms ease-in-out;
}
.what-section__main-title {
    max-width: 1280px;
    margin: auto;
	color: #fff;
    margin-bottom: 0em;
    margin-top: 0;
}
.headline-section__title {
    font-family: $font_primary_bold;
    font-size: 2.2em;
    line-height: 45px;
    @include media-breakpoint-down(md) {
      font-size: 1.8em;
      line-height: 1.2;
    }
}
.websites-projects__item p {
    text-transform: none;
}
.headline-section__inner {
    max-width: 93%;
    margin-left: auto;
}
.headline-section {
    margin-top: 4em;
}
.fixed-slider-section.visible .slider-content-description {
    position: fixed;
    top: 0;
	min-width: 338px;
}
.fixed-slider-section.absolute-menu .slider-content-description {
	position:absolute;
	bottom:0;
}
.consult-item {
	width: 45%;
	padding-bottom:1em;
	    float: left;

    margin-bottom: 2.5em;
}
.logo-consult {
width: 107px;
    text-align: right;
    margin-right: 25px;
}
.consult-excerpt-container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    border-left: 1px solid #000;
    padding-left: 25px;
    padding-right: 30px;
}

.list-container {
    margin-bottom: 5em;
}
.headline-section__title--consult, .headline-section__title--web {
    margin: 1.4em auto 1.7em;
}
.submenu-consulting-section{
	background: #D4D4D4;
    border-top: 10px solid #fff;
}
.submenu-consulting-list{
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: uppercase;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.consult-menu-item .nav-link {
    text-align: center;
}
.active.consult-menu-item, .active.consult-menu-item .nav-link {
    background: #fff;
	color:#000;
}
li.nav-item.consult-menu-item {
    border-left: 10px solid #fff;
	    text-transform: none;
	    font-size: 17px;
}
li.nav-item.consult-menu-item:first-child {
    border-left: 0px solid #fff;
}
ul.navbar-nav.submenu-consulting-list {
    max-width: 875px;
    width: 100%;
    margin: auto;
}

li.consult-menu-item:first-child .nav-link {
    text-align: left;
}
.toAbsolute {
    margin-top: -100vh;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

#main-menu>.current_page_ancestor>a, .current-menu-item.active>a, .current_page_item.active>a ,
.single-post .current_page_parent#menu-item-109 >a,
.category .current_page_parent#menu-item-109 >a{
	border-bottom: 2px solid #fff;
	font-family: $font_primary_bold;
}
.page-header__inner {
    margin-top: -5%;
}
.black-font {
    color: #000;
}
.who-title {
    border-right: 2px solid #000;
    min-width: 330px;
    margin-right: 6%;
    padding-right: 4%;
}
.who-content {
    font-size: 1.7em;
}
.who-content {
    font-size: 1.9em;
}
.who-description-section {
    margin-bottom: 5em;
	    padding: 0 20px;
    position: relative;
	margin-top: 250px;
}
.who-members {
    margin: 0 3%;
    margin-top: -2%;
}
.who-members__desc {
    max-width: 489px;
    margin: auto;
	margin-top: 15px;
}
.who-description-section p {
    font-size: 31px;
    max-width: 890px;
    margin: auto;
    line-height: 47px;
}
.who-members__desc p {
    margin: 0;
}
.who-header {
	height: 34vh;
	margin-top: 10%;
}
.who-description-section:before {
    height: 133px;
    width: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: #000;
    top: -193px;
    content: "";
}
.who-title>h1 {
    max-width: 280px;
}

.who-more-section {
    background: -webkit-linear-gradient(204.55deg, #6D4283 0%, #090E14 100%);
    background: -o-linear-gradient(204.55deg, #6D4283 0%, #090E14 100%);
    background: linear-gradient(245.45deg, #6D4283 0%, #090E14 100%);
    padding: 4.4% 0;
    position: relative;
}
.who-more-section__inner {
    color: #fff;
    font-size: 2.4em;
    font-family: $font_primary_light;
}
.who-more-section__inner strong {
    font-weight: bold;
}
.who-techn-partners-section {
    margin-top: 115px;
}
.who-techn-partners__title{
    font-family: $font_primary_light;
    font-size: 34px;
    color: #3B1F4C;
}
div#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#090E14), to(#3B1F4C));
	background: -o-linear-gradient(left, #090E14 0%, #3B1F4C 100%);
	background: linear-gradient(90deg, #090E14 0%, #3B1F4C 100%);
    z-index: 9999999;
    margin: 0;
    overflow: hidden;
	display:block;
}
#overlay img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -9%;
    top: 0;
    bottom: 0;
}
.page-header-default-template {
    float: left;
    width: 100%;
}


.active-project-li{
	font-family: $font_primary_bold;
}
.page-content-section {
    clear: both;
    padding-top: 1%;
}
div.start-project-desc{
	    font-size: 40px;
    margin: auto;
    line-height: 57px;
    margin-bottom: 6%;
    margin-top: 4%;
}
.contact-title{
	font-family: $font_primary_bold;
	color:#000;
}
div.start-your-project-form input.wpcf7-form-control,div.start-your-project-form textarea.wpcf7-form-control {
    border: none;
    border-bottom: 1px solid #808080;
    border-radius: 0;
}
div.start-your-project-form textarea.wpcf7-form-control, div#support-ticket-form textarea.wpcf7-form-control{
	height: 160px;
}
div.start-your-project-form input.wpcf7-form-control:focus, div.start-your-project-form textarea.wpcf7-form-control:focus {
    border: none;
	    border-bottom: 1px solid #808080;
    border-radius: 0;
	box-shadow:none;
}
.project-form-item {
    margin-bottom: 3rem;
}
div.start-your-project-form input.wpcf7-form-control {
    max-width: 90%;
}
div.contact-title h2 {
    font-size: 42px;
    margin-bottom: 5rem !important;
}
div.start-your-project-form .wpcf7 .wpcf7-form label {
    width: 100%;
    font-family: $font_primary_bold;
    font-size: 25px;
    color: #000;
}
div.start-your-project-form .wpcf7 {
	max-width: 100%;
	margin-top:1%;
}
.project-form-item span.wpcf7-list-item-label {
    font-size: 19px;
}
.project-form-item span.wpcf7-not-valid-tip {
    font-family: $font_primary_bold;
    font-size: 25px;
}
.submit-section input.wpcf7-form-control.wpcf7-submit {
    background: -webkit-linear-gradient(85.35deg, #6D4283 0%, #3C204D 100%);
    background: -o-linear-gradient(85.35deg, #6D4283 0%, #3C204D 100%);
    background: linear-gradient(4.65deg, #6D4283 0%, #3C204D 100%);
    outline: 0;
    border: none;
    padding: 0 0 0 20px;
    font-size: 25px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    font-family: $font_primary_bold;
    color: #fff;
    width: 253px;
    padding-top: 5px;
    height: 59px;
    border-bottom: 2px solid;
    border-color: #351c44 !important;
    border-radius: .25rem;
}
.submit-section {
    position: relative;
    margin-top: 6.7%;
}
.submit-section:after {
    content: "";
    height: 27px;
    width: 22px;
    position: absolute;
    top: 17px;
	    pointer-events: none;
    left: 200px;
    background-size: contain;
    @extend .arrow-right-white;
}

/* white text with background image */
.page-cta-section--black {
	background: url('#{$images-path}/meeting-room-contact-v2.jpg');
	background-size: cover;
	background-position: center;
	padding: 6.4% 0;
}
.page-cta-section--black h3.white-font, .page-cta-section--black a.white-font {
    color: #fff;
}
.page-cta-section--black a.page-cta-link span:after {
    content: "";
    height: 41px;
    width: 28px;
    position: absolute;
    right: -48px;
    top: -4px;
    @extend .arrow-right-white;
}


div.start-your-project-form .wpcf7 .wpcf7-validation-errors {
    color: #dc3545;
    border: 0px solid #e9ecef;
    font-family: $font_primary_bold;
    font-size: 25px;
    margin: 0;
}
.contact-title--no-border:before{
	display:none;
}
.contact-list ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.contact-list h2 {
    font-family: $font_primary_bold;
    color: #000;
    font-size: 42px;
}
.contact-list ul li {
    font-size: 26px;
    margin-bottom: 1.2rem;
}
div.contact-list {
    border-left: 1px solid #7D7D7D;
    padding-left: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.start-your-project-form--contact{
	padding-right: 3% !important;
	margin-bottom: 7%;
}
.start-your-project-form--contact textarea.wpcf7-form-control {
    max-width: 90%;
}
.contact-title--no-border {
    margin-top: 6%;
}
.page-title-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}
.page-title-header>p{
	color:#fff;
    margin-top: 2%;
    margin-bottom: 0;
    font-size: 1.9em;
}
.page-header-default-template h1.blog-page-title:after{
	display:none;
}
.page-cta-discuss-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.scroll-top{
	    position: fixed;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    right: 28px;
    bottom: 27px;
    width: 47px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.7);
	filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: opacity .4s ease;
	opacity:0;
	z-index: 1;
}
a.scroll-top .arrow-top {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    width: 36px;
    height: 36px;
    background-size: contain;
    @extend .arrow-left-slick;
}

body[class*="fp-viewing"] .scroll-top{
   opacity:1;
}
.fp-viewing-0 .scroll-top{
   opacity:0 !important;
}


.filters-services__item.active {
	border-bottom: 2px solid #eee!important;
	  /* This timing applies on the way OUT */
  transition-timing-function: ease-in;

  /* Quick on the way out */
  transition: 0.6s;
}
.single-post__inner {
    max-width: 898px;
    width: 100%;
}
.services-item {
font-size: 24px;
line-height: 28px;
}

.services-item a {
  color: #FFF;
}

.services-item a:hover {
  color: #FFF;
  text-decoration: none;
}

#website-boxes-section:before {
    content: "";
    background: #2A0649;
    width: 69px;
    position: relative;
    display: inline-block;
}
#website-boxes-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#website-boxes-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 10px 10px 23px 0 rgba(169,169,169,0.5);
            box-shadow: 10px 10px 23px 0 rgba(169,169,169,0.5);
}
#website-boxes-section>div {
    padding: 24px 35px 0 35px;
}
#website-boxes-section h2 {
    font-family: $font_primary_bold;
	    margin-bottom: 14px;
}
#website-boxes-section p {
    font-size: 18px;
}
.left-box-web {
    border-right: 1px solid #979797;
    padding: 30px 60px 30px 0;
}
.right-box-web {
    padding: 30px 60px 0px 38px;
}
a.our-work-link {
    color: #323232;
    border-bottom: 1px solid;
    text-decoration: none;
    padding-bottom: 4px;
    padding-right: 4px;
    font-size: 15px;
    bottom: -27px;
    position: relative;
}
.front-clients-wrapper-text {
    margin-bottom: 1em;
}
a.our-work-link:after {
    content: "";
    height: 14px;
    width: 10px;
    position: absolute;
    right: -20px;
    top: 3px;
    background-size: contain;
    @extend .dark-arrow;
}

.system-integration {
    max-width: 100%;
    margin-left: auto;
    margin-top: 80px;
    background: #F8F8F8;
    padding: 55px;
	position: relative;
}

.system-integration__item a{
    color: #fff;
    font-size: 15px;
}

.system-integration__item h5{
    color: #fff;
    font-size: 15px;
}

.system-integration__left.forSoftware__left h2{
	margin-bottom: 1em!important;
}

.our-process{
    max-width: 100%;
    margin-left: auto;
    margin-top: 80px;
/*     background: #2A0649; */
	background: -webkit-linear-gradient(102deg, #000000 0%, #412154 100%);
	background: -o-linear-gradient(102deg, #000000 0%, #412154 100%);
	background: linear-gradient(102deg, #000000, #412154);
    padding: 55px;
		padding-bottom: 0;
	margin-bottom: 3em;
}
.our-process__left h2 {
    font-size: 52px;
    margin-bottom: 0.5em;
    color: #fff;
}
.our-process__left {
    margin-left: 30px;
	margin-top: -100px;
}
.our-process__left h2 {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-right: 20px;
}
.step-3 .step-process__number:after {
	display:none;
}
.our-process__right {
    color: #fff;
	    margin-left: 125px;
}
.step-process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	margin-bottom: 10px;
	height: 210px;
}
.step-process__number:after {
    content: "";
    width: 2px;
    height: 100px;
    background: #fff;
    position: absolute;
    display: block;
    left: 0;
    bottom: -117px;
    right: 0;
    margin: auto;
}
.step-process__text {
    width: 50%;
    padding-top: 20px;
    margin-left: 40px;
    font-size: 18px;
        opacity: 0.87!important;
}
.step-process__text h3 {
    font-size: 35px;
}
.step-process__number {
    width: 78px;
    height: 78px;
    background: #fff;
    color: #2A0649;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
	    position: relative;
    border-radius: 100%;
    font-family: $font_primary_bold;
}
.system-integration h2, .system-integration h3, .our-process h2, .our-process h3 {
    font-family: $font_primary_bold;
    font-size: 34px;
}
.system-integration__item {
	background: -webkit-linear-gradient(85.35deg, #000000 0%, #412154 100%);
	background: -o-linear-gradient(85.35deg, #000000 0%, #412154 100%);
	background: linear-gradient(4.65deg, #000000, #412154);
    color: #fff;
    padding: 40px 54px 40px 45px;
    -webkit-box-shadow: 6px 6px 16px 0 rgba(100,100,100,0.7);
    box-shadow: 6px 6px 16px 0 rgba(100,100,100,0.7);
    display: inline-block;
    min-height: 200px;
    min-width: 465px;
    margin: 2em 2em;
}
.forSoftware{
	background:#fff;
	margin-top: 0;
  @include media-breakpoint-down(md) {
    margin-left: 0 !important;
  }
}
.system-integration__left p {
    width: 79%;
    font-size: 17px;
    color: #323232;
    //font-family: $font_primary;
}
.areas-expertise__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
	margin-top: 40px;
}
.areas-expertise__right {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
}
.areas-expertise{
	background:#F8F8F8;
	    padding: 4% 0;
}
.areas-expertise__right--inner>p {
  max-width: 500px;
    margin: 1% auto;
	font-size: 1.3em;
	color:#777777;
}
.areas-icons {
	max-width: 600px;
    margin: auto;
    border-left: 1px solid;
    border-right: 1px solid;
}
.areas-icons__item {
    text-align: center;
    padding: 10px;
	word-break: break-word;
  img {
    display: inline-block;
  }
}

.areas-icons__item h5{
    margin-top: 15px;
}

.areas-expertise__left>h2 {
    font-size: 2.8em;
    margin-bottom: 0.5em;
    color: #323232;
}
.areas-expertise__left>p {
    font-size: 1.7em;
	margin: 3% 0;
}
.forSoftware__left p {
    font-size: 1.6em;
    border-bottom: 2px solid;
    width: 60%;
}
.forSoftware__left ul{
	font-size:2em;
	    list-style-type: none;
    padding: 0;
	    margin-top: 25px;
}
.system-integration__left h2 {
    font-size: 52px;
    margin-bottom: 0.5em;
    color: #323232;
}

.system-integration__left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
	margin-top: 2em;
	position: relative;
}
.system-integration__right {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all 0.2s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;

}
.system-integration__cont{
	    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
	width: 100%;
    overflow-x: inherit;
    overflow-y: hidden;
    padding-right: 5px;
}
.system-integration__right::-webkit-scrollbar {
  display: none;
}
.system-integration__right.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
.system-integration__item-desc {
    font-size: 18px;
    margin-top: 45px;
    opacity: 0.87!important;
}
.system-integration__item-desc .smaller{
	font-size:16px;
}
div#website-header-text:after {
    content: "";
    background: #808080;
    max-width: 230px;
    position: relative;
    height: 1px;
    display: block;
    margin-bottom: 6%;
    width: 100%;
}
.system-integration__cta {
    border-bottom: 1px solid;
    width: 77%;
    padding-bottom: 6px;
    margin-top: 110px;
    position: relative;
}
.system-integration__cta a {
    color: #323232;
    text-decoration: none;
    font-size: 17px;
}
p.scroll-text:before {
    content: "";
    display: inline-block;
    width: 75%;
    height: 1px;
    background: black;
    vertical-align: middle;
    margin-right: 1em;
}
p.scroll-text:after {
    content: "";
    display: inline-block;
    width: 11%;
    height: 1px;
    background: black;
    vertical-align: middle;
    margin-left: 1em;
	display:none;
}
p.scroll-text {
    display: flex;
    margin-left: 2em;
    font-size: 1.3em;
    align-items: center;
}
p.scroll-text a {
    max-width: 21px;
    margin: 0 10px;
}
.system-integration__cta a:after {
    content: "";
    height: 30px;
    width: 21px;
    position: absolute;
    right: -37px;
    top: 11px;
    @extend .dark-arrow;
}
#loader {
  -webkit-animation: animate 1.5s linear infinite;
          animation: animate 1.5s linear infinite;
  clip: rect(0, 80px, 80px, 40px);
  height: 80px;
  width: 80px;
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg)
  }
}
@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(220deg);
            transform: rotate(220deg)
  }
}
#loader:after {
  -webkit-animation: animate2 1.5s ease-in-out infinite;
          animation: animate2 1.5s ease-in-out infinite;
  clip: rect(0, 80px, 80px, 40px);
  content:'';
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
}
@-webkit-keyframes animate2 {
  0% {
    -webkit-box-shadow: inset #eee 0 0 0 17px;
            box-shadow: inset #eee 0 0 0 17px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #eee 0 0 0 2px;
            box-shadow: inset #eee 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #eee 0 0 0 17px;
            box-shadow: inset #eee 0 0 0 17px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}
@keyframes animate2 {
  0% {
    -webkit-box-shadow: inset #eee 0 0 0 17px;
            box-shadow: inset #eee 0 0 0 17px;
    -webkit-transform: rotate(-140deg);
            transform: rotate(-140deg);
  }
  50% {
    -webkit-box-shadow: inset #eee 0 0 0 2px;
            box-shadow: inset #eee 0 0 0 2px;
  }
  100% {
    -webkit-box-shadow: inset #eee 0 0 0 17px;
            box-shadow: inset #eee 0 0 0 17px;
    -webkit-transform: rotate(140deg);
            transform: rotate(140deg);
  }
}


.who-members__desc h4{
	font-size: 18px!important;
	margin-bottom: 0px;
}

.who-members__desc p{
	font-size: 14px!important;
}

.websites-projects__numbers {
	background: -webkit-linear-gradient(85.35deg, #000000 0%, #412154 100%);
	background: -o-linear-gradient(85.35deg, #000000 0%, #412154 100%);
	background: linear-gradient(4.65deg, #000000, #412154);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.websites-projects__item p {
    margin: 0;
}
.websites-projects__item span {
    font-size: 68px;
}
.websites-projects {
    margin-top: 100px;
	margin-bottom: 50px;
}
.websites-projects>h2 {
    font-size: 55px;
    font-family: $font_primary_bold;
    margin-bottom: 40px;
    color: #000;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.websites-projects__item p:before {
    content: "";
    width: 2px;
    position: relative;
    background: #fff;
    height: 40px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 13px;
    margin-top: -6px;
}
.websites-logo {
	    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.websites-logo-section {
    margin-top: 80px;
	margin-bottom: 90px;
}

.websites-logo-section h5{
	color: #919191!important;
}

.front-logos{
	    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.prev-arrow-client {
    position: absolute;
    bottom: 0;
	 z-index: 100;
    cursor: pointer;
    right: 66px;
    background-size: contain;
    @extend .arrow-left-slick;
}
.next-arrow-client {
    position: absolute;
    right: 0;
	z-index: 100;
    cursor: pointer;
    bottom: 0;
    background-size: contain;
    @extend .arrow-right-slick;
}
.websites-logo__item {
    width: 20%;
    text-align: center;
    margin-bottom: 9px;
    margin-top: 9px;
}
.websites-logo__item img {
    max-width: 124px;
    display: inline-block;
    height: auto;
}
a.our-work-link.no-arrow:after{
	display:none;
}
.slider-client .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.forSoftware__left ul li:before {
    content: "";
    background-image: url('#{$images-path}/brown-arrow.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 6px;
}
.slider-current-me__info{
    outline: 0;
    cursor: pointer;
}
.front-logos-section {
    margin-top: 3%;
}

.front-logos-section h5{
	color: #919191!important;
}
.who-we-are__title {
    margin-bottom: 6rem;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #000000;
}
.page-title-404 {
    margin-right: 8%;
    padding-right: 4%;
    font-size: 4.5rem;
}
.error404 .bg-primary {
    display: none;
}
.link-404{
	 color: #000;
    font-size: 2em;
    padding-left: 10px;
    text-decoration: none;
}
a.link-404:hover {
    text-decoration: none;
    color: #000;
}
.websites-technologies {
    background: #10121C;
    color: #fff;
	padding: 100px 0;
    margin-top: 70px;
}
.websites-technologies--front{
	background: #10121C;
    color: #fff;
	padding: 60px 0px 91px;
}
.technologies-container p {
    margin: 0;
    @include media-breakpoint-down(xs) {
      font-size: 18px;
    }
}
.technologies-container {
    font-size: 30px;
    text-align: center;
    line-height: 52px;
}
.websites-technologies h5 {
    margin-bottom: 0.9em;
    opacity: 0.8;
    padding-left:4px;
}
.arrow-client {
    width: 40px;
    height: 40px;
    display: inline-block;
}
a.gotoproject-btn {
	color: #c9c9c9;
	text-decoration: none;
	border-bottom: 1px solid;
	padding-bottom: 5px;
	font-size: 12px;
	margin-top: 47px;
	display: inline-block;
}
.front-logos {
    max-width: 1200px;
    margin: auto;
}
.mindset-section, .people-section {
    position: relative;
}


.people-section p,
.people-section li{
	font-size: 20px!important;
}

.mindset-people img {
    width: 100%;
}
.hover-elements {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.hover-elements:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    display: block;
}
.hover-elements>div {
    z-index: 1;
    position: relative;
}
/*
.mindset-section {
    margin-bottom: 25px;
}
*/


/* recaptcha */
.grecaptcha-badge {
    display: none!important;
}

.delay-1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay-2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
.delay-3 {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s;
}
.delay-4 {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}
.mindset-section img, .people-section img{
	width:100%;
}
.cta-discuss-section>a:after {
    content: "";
    height: 44px;
    width: 28px;
    position: absolute;
    right: -47px;
    top: 26px;
    background-size: contain;
    @extend .arrow-right-white;
}
#support-ticket-form label {
    width: 100%;
    font-family: $font_primary_bold;
    font-size: 22px;
    color: #000;
}
#support-ticket-form h4 {
    font-family: $font_primary_bold;
	 color: #000;
}
.scroll-text--white{
    margin-top: 1em;
    color: #fff;
	margin-right: 0.8em;
}
.scroll-text--white:after{
	content:"";
	width:25px;
  @extend .arrow-right-white;
}
.arrow-scroll__img{
	width: 18px;
  height: 18px;
  display: inline-block;
  margin-left: 15px;
  background-size: contain;
  position: relative;

  &.left-arrow {
    left: -4px;
    @extend .arrow-icon-left-white
  }

  &.right-arrow {
    @extend .arrow-icon-right-white
  }
}
p.scroll-text--white:before, p.scroll-text--white:after {
    background: #fff;
}
div#support-ticket-form input, div#support-ticket-form textarea {
    border: none;
    border-bottom: 1px solid #808080;
    border-radius: 0;
    outline: 0;
	text-align: left;
    box-shadow: none;
}
.support-title {
    font-family: $font_primary_bold;
    color: #000;
}
.support-form-item {
    margin-bottom: 1rem;
}
.post-navigation__title{
	margin-top: 3em;
}
nav.navigation.post-navigation {
    margin-top: 2em;
    padding: 0;
}
.post-navigation__item img {
    max-width: 300px;
}
.post-navigation__item a {
	color: #000;
    text-decoration: none;
}
.post-navigation__item h5 {
    font-size: 1em;
    margin-top: 10px;
    max-width: 70%;
}
.projects-container {
    padding: 2em 0 4.5em;
    min-height: 100vh;

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }
}

.system-intergration__arrow--right a {
	  position: absolute;
    right: 3px;
    top: 45%;

    @include media-breakpoint-down(lg){
      top: 360px;
    }
}

.system-intergration__arrow--left a {
    position: absolute;
    right: -15px;
    top: 41.4%;

    @include media-breakpoint-down(lg){
      right: 65px;
      top: 313px;
    }
}



/* Mobile Giannis starts here
--------------------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
	.hidden-more-info__inner>h2 {
    font-size: 2vw;
	}
	.front-services-wrapper-text .title {
    font-size: 2.7vw;
	}
	.client-testimonial--info p, .client-testimonial p {
    font-size: 1.1vw;
	}
	.light-big-font {
    font-size: 2.4vw;
    line-height: 2.9vw;
	}
	.arrow-client {
    max-width: 48px;
    bottom: -40px;
	}
}
@media only screen and (max-width: 1620px) {
	.container.single-post__inner {
		padding-right: 20%;
	}
	.filters-services__item {
    font-size: 0.9rem;
	}
	.what-section__item {
    font-size: 1.2vw;
	}
	.software-container__inner {
    max-width: 86%;
	}
	.solution-section .software-container__inner {
    max-width: 88.6%;
	}
	.headline-section__inner {
    max-width: 86%;
	}
	.project-info__label {
    max-width: 86%;
    //margin-left: auto;
	}
	.technologies-section__inner {
    max-width: 61%;
	}
	.page-cta-discuss-section>h3 {
    font-size: 50px;
    line-height: 56px;
	}
	.list-customers-menu .row {
    max-height: 450px;
    overflow: auto;
	}
}

@media only screen and (max-width: 1400px) {
	.toAbsolute {
    margin-top: -115vh;
	}
	.what-section__main-title {
    margin-bottom: 0;
    margin-top: 0;
	padding: 0 15px;
	}
	.partners-item {
    margin: 13px 0;
	}
	.front-partners-section__in {
    margin-top: 0;
	}
	.front-logos {
/*     height: 150px;
    overflow: hidden; */
	}
	.front-services-wrapper-text {
    margin:1rem 0 1rem;
	}
	.what-section__item {
    padding: 1% 2% 2%;
	}
	.services-slider-item{
	  height: 80px;
	}
	.services-slider-section {
    margin:0;
	}
	.front-fold-wrapper-text .main-title {
    font-size: 64px;
    line-height: 68px;
	}
	.front-partners__desc {
    font-size: 35px;
    font-weight: 300;
    line-height: 50px;
	}
	.light-small-font {
    margin-bottom: 0.1rem;
	}
	.list-customers-menu .row {
    max-height: 350px;
    overflow: auto;
	}
}

@media only screen and (max-width: 1300px) {
		.software-container__inner {
    max-width: 82%;
	}
	.solution-section .software-container__inner {
    max-width: 84.6%;
	}
	.headline-section__inner {
    max-width: 82%;
	}
	.project-info__label {
    max-width: 84%;
    //margin-left: auto;
	}
}
@media only screen and (max-width: 1200px) {

	.front-video-wrapper-over {
		display: none;
	}
	#page-wrapper .page-header {
		height: auto;
		padding: 137px 20px;
	}
	.slider-current-me__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.page-moto-man {
    position: absolute;
    right: 4rem;
    margin-top: 5%;
	}
	.front-fold-section {
/*     background-color: #000;  */
	background-image: url('#{$images-path}/bg-partners-blurred.jpg');
	background-size: cover;
	height: 100vh;
	}
	.front-video-wrapper-full {
		display:none;
	}
	.front-fold-wrapper-text {
    padding: 52% 0 33px;
	}
	.front-fold__services {
		border-left: 0px solid #fff;
		    padding-left: 0;
		width: 100%;
	}
	.front-fold-section_inner {
    color: #fff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}

	.front-fold-wrapper-text .main-title {
    font-size: 50px;
    line-height: 62px;
	}
	.services_fold__container {
    max-width: 83%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    text-align: left;
    padding-bottom: 65%;
	}
	.front-clients-section__inner {
    padding: 2rem 1em 4em;
    min-height: auto;
    height: auto;
	}
	#areas-expertise__inner {
    padding: 0 15px;
	}
	.areas-expertise__left .our-work-link {
    right: 0;
	}
	.client-testimonial {
    border-right: 0px solid;
    margin-bottom: 1em;
	}
	.clients-info--front{
		width:100%;
	}
	.card-flex {
    overflow-x: auto;
    overflow-y: hidden;
	}
	a.card-item {
    margin-right: 35px;
	}
	.technologies-container {
    font-size: 25px;
    text-align: center;
    line-height: 44px;
	}
	.front-partners-section {
    padding-top: 10%;
    padding-bottom: 10%;
	 background-repeat: no-repeat;
    background-size: cover;
	}
	div.what-section__main-title {
    opacity: 1 !important;
	}
	.front-partners-section__in {
    margin-top: 0;
	}
	.slider-client {
    margin: 60px 0;
	}
	.front-clients-section>div {
    opacity: 1;
	}
	.front-clients-section {
    background: #fff;
	}
	.front-services-wrapper-text {
    opacity: 1;
	}
	.mindset-section img, .people-section img {
    width: 100%;
    height: 560px;
    -o-object-fit: cover;
       object-fit: cover;
	}
	.hover-elements>div {
    z-index: 1;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.hover-elements>div>div {
    width: 100%;
	}
	.page-title {
    border-right: 0px solid #fff;
	}
		.step-process__text {
    width: 70%;
		font-size: 16px;
		margin-left: 7%;
	}
	.step-process__text h3 {
    font-size: 23px;
	}
	p.scroll-text:after{
		display:none;
	}
	.layoutArea em{
		display:block;
	}
	.client-testimonial--info {
    width: 44%;
	}
	.areas-expertise__left {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-top: 40px;
    margin-bottom: 6em;
    padding-right: 5%;
	}
	div#areas-expertise__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.areas-expertise__right {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
	}
	a.our-work-link {
    font-size: 21px;
	}
	a.our-work-link:after {
    height: 26px;
    width: 23px;
    right: -34px;
	}
	.page-template-softwareInner .websites-logo-section {
    margin-top: 0;
	}
}
@media only screen and (max-width: 992px) {
.page-cta-discuss-section>h3 {
    font-size: 44px;
    line-height: 52px;
    flex-basis: 100%;
	   margin-bottom: 3rem;
}
	.front-what-section > div {
    opacity: 1!important;
	}
	.page-moto-man {
    position: relative;
    right: 0;
	}

	.what-section__item {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    font-size: 1.2em;
    margin-right: 2%;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 2%;
		padding: 4% 4%;
   position: relative;
	}
	.front-video-section{
		    opacity: 1;
	}
	.what-section__services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.what-section__item--eshop {
    margin-right: 2%;
	}
	.years-logo-section img {
    max-width: 50%;
    margin: 17px 0;
	}

	.what-section__item--cont>h2 {
    font-size: 28px;
    min-height: 76px;
	}
	h2.what-section__mlt-title {
    min-height: auto;
	}
	.hidden-more-info {
	max-width: 864px;
    width: 100%;
    height: 100%;
    left: 0;
    overflow: auto;
	}
	.hidden-more-info__inner {
    padding: 5.6% 4%;
	}
	.page-header__inner {
    margin-top: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
   padding: 0 20px;
	}

	.left-fixed-menu>h5 {
    background: #2A2A2A;
    text-align: center;
    padding: 2%;
    margin: 0;
    width: 100%;
    font-size: 19px;
    text-transform: uppercase;
    display: none;
}

	.single-client-info {
    margin-left: 0;
	margin-right: 0;
	}
	.navbar-dark .navbar-nav .nav-link {
    display: inline-table;
	}


	.consult-item {
    width: 100%;
	}
	ul.navbar-nav.submenu-consulting-list {
    overflow-x: auto;
	}
	.who-content {
    font-size: 1.6em;
	}
	.who-description-section p {
    font-size: 1.6em;
    line-height: 36px;
	}
	.who-description-section:before {
    top: -159px;
	}
	.who-header {
    height: auto;
    margin-top: 3%;
	}
	.page-header__inner>div {
    width: 100%;
    margin-bottom: 3rem;
	}
	.who-title {
    border-right: 0px solid #000;
    min-width: 300px;
    margin-right: 0;
	}
	.who-more-section {
    padding: 70px 0;
	}
	.navbar-dark .navbar-toggler {
    border-color: rgba(255,255,255,0);
	outline: 0;
	}
.page-cta-link {
    text-align: right;
    width: 95%;
}
	h1.blog-page-title {
    font-size: 3em;
    line-height: 59px;
}
	.container.single-post__inner {
    padding: 0 17px;
}
	#single-post-main {
    padding: 125px 0 80px;
	}
	.fixed-menu {
    position: relative;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
	margin-bottom: 4rem;
	}
	main#blog-main {
    padding-top: 125px;
	}

.fixed-menu ul {
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
}
	li.active-item:before {
    display:none;
	}
	.fixed-menu ul li a {
    border-bottom: 0px solid;
	}
.fixed-menu ul li {
    position: relative;
    width: auto;
    display: inline-block;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
	li.active-item {
    font-family: $font_primary_bold;
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
}
	.articles-container {
    margin-top: 90px;
	}
	.page-cta-discuss-section {
    padding: 0;
	}

ul#main-menu {
    margin: 35px 0 11px;
}

	.navbar-nav .nav-link {
    font-size: 21px;
	}
	.page-title-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		padding-bottom: 65px;
}
	.view-more-section {
    -ms-flex-preferred-size: 93%;
        flex-basis: 93%;
    text-align: right;
}
	article.blog-item {
    margin-bottom: 2rem;
	}
	h1.blog-page-title {
	width: 100%;
    padding: 0;
    margin: 0;
	margin-bottom: 0;
	}
	.page-header-default-template h1.blog-page-title {
    border-right: 0px solid #fff;
	}
	.who-more-section__inner {
    font-size: 1.7em;
    line-height: 1.4em;
	}
	.projects-categories__list-item .nav-link {
    font-size: 14px;
	}
	.list-container__inner {
    max-width: 100%;
    margin-left: auto;
	}
	.left-fixed-menu.list-customers-menu {
    display: none !important;
	}
	.fixed-slider-section {
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	}
	.slider-content-description {
    height: auto;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
    margin-top: 80px;
	}
	.right-sidebar {
    width: 100%;
	padding-bottom: 10%;
	}
	.left-sidebar {
    width: 100%;
    max-width: 100%;
	}
	.technologies-section__inner {
    max-width: 100%;
	}
	.project-info__label {
    max-width: 100%;
	}
	.software-container__inner {
    max-width: 100%;
    padding-bottom: 2.9em;
    padding-top: 1.5em;
	}
	.headline-section__inner {
    max-width: 100%;
	}
	.other-projects__inner {
    max-width: 100%;
	}
	.solution-section .software-container__inner {
    max-width: 100%;
	}
	div#what-page-header {
    margin-top: 0;
	}
	div#what-page-header .page-title {
    border-right: 0px solid #fff;
	}
	.websites-technologies--front h5 {
    padding-left: 0;
	}
	.partners-item {
    width: 50%;
    padding: 0 10px;
	}
	.front-logos {
    height: auto;
	}
	.news-section {
    border-right: none;
	}

	.websites-logo__item {
    width: 33.3%;
	margin-bottom: 15px;
    margin-top: 15px;
	}
	.client-testimonial {
    max-width: 100%;
    margin-right: 0;
    padding-right: 0;
	}
	.websites-technologies {
    padding: 33px 0;
	}
	.system-integration {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		padding: 15px;
	}
	.system-integration__left {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
	}
	.system-integration__cont {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    cursor: pointer;
    padding-right: 0;
	}
	.system-integration__cta {
    margin-top: 50px;
    margin-bottom: 50px;
	}
	.our-process__right {
    color: #fff;
    margin-left: 0;
	}
	.our-process__left {
    margin-left: 30px;
    margin-top: 21px;
    margin-bottom: 63px;
	}
	.our-process {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	 padding: 17px;
	}

	.system-integration__left h2 {
    font-size: 38px;
	}
	.step-process__number {
    width: 60px;
    height: 60px;
    font-size: 24px;
	}
	.read-more-services {
    width: 90%;
	}
	.who-we-are__title {
    margin-bottom: 3rem;
	}
}
@media only screen and (max-width: 601px) {
	.foot-widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
margin-bottom: 40px;
}
	.post-navigation {
    margin-bottom: 2em;
	}
	h2.foot-title {
    margin-bottom: 0.6rem;
	}
	.project-info__label--div:after{
	display:none;
	}
	.forSoftware {
    margin-top: 0;
	}
	.project-info__desc {
    margin-bottom: 2em;
	}
	.project-info-box {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.client-testimonial--info {
    width: 70%;
	}
	.foot-widget ul li {
    margin-bottom: 6px;
	}
	div.start-your-project-form .wpcf7 .wpcf7-validation-errors {
    color: #dc3545;
    border: 0px solid #e9ecef;
    font-family: $font_primary_bold;
    font-size: 21px;
    margin: 0;
    padding: 0;
    margin-bottom: 61px;
	}
	div.contact-list {
    border-left: 0px solid #7D7D7D;
    padding-left: 0;
    padding-top: 10%;
    padding-bottom: 15%;
	}
	.page-cta-section {
    padding: 9.4% 0;
	}
	p.scroll-text:before {
    width: 55%;
	}
	p.scroll-text.scroll-text--white:before {
    width: 60%;
	}
	p.scroll-text a {
		max-width: 16px;
		margin: 0 2%;
	}
	.contact-title--no-border {
    margin-top: 16%;
	}
	div.start-your-project-form input.wpcf7-form-control, 	div.start-your-project-form textarea.wpcf7-form-control {
    max-width: 100%;
	}

	nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-primary {
    padding-left: 15px;
    padding-right: 15px;
	}
	div.start-project-desc {
    font-size: 30px;
    line-height: 44px;
	}

	.logo-client-section {
    margin-top: 10px;
    margin-bottom: 10px;
	}
	h1.blog-page-title:after{
		display:none;
	}
	h1.white-font.blog-page-title:after {
    opacity: 0;
	}
	.outcome-section .project-info__desc {
    border-left: 0px solid #000;
	}
	.outcome-section .project-info__desc>div {
    margin-left: 0em;
	}
	.technologies-section {
    margin-top: 0em;
	}
	.technologies-container {
    font-size: 22px;
    line-height: 38px;
	}
	.partners-item {
    width: 50%;
    padding: 0 10px;
	}
	.front-partners__desc {
    font-size: 37px;
    font-weight: 300;
    line-height: 47px;
	}
	.partners-grid p {
    margin-top: 11px;
    font-size: 11px;
	}
	.services_fold__container {
    max-width: 100%;
	}
	.services-item {
    font-size: 20px;
    line-height: 28px;
    margin-right: 20px;
	}
		.websites-projects__item {
    width: 100%;
    margin-bottom: 30px;
	}
	.websites-projects__numbers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	}
	.websites-projects>h2 {
    font-size: 47px;
    padding: 0 15px;
	}
	a.our-work-link {
    right: 30px;
	}
	.left-box-web {
    border-right: 0px solid #979797;
	    padding: 30px 0 30px 0;
	}
	.right-box-web {
 padding: 30px 0px 30px 0;
	}
	#website-boxes-section a.our-work-link{
		    bottom: 0;
		right:0;
	}
	div#website-header-text:after {
    left: 15px;
		    margin-bottom: 15%;
    width: 100%;
    margin-top: 8%;
	}
	.mindset-section img, .people-section img {
    height: 650px;
	}
	.hover-elements>div {
		padding: 10% 15px;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	}
	.column-text{
		-webkit-box-flex:1;
		    -ms-flex:auto;
		        flex:auto;
	}
	.column-text:first-child {
    border-right: 0px solid #fff;
    padding-right: 3%;
    margin-bottom: 4em;
	}
	.hidden-more-info__inner>h2 {
    margin: 0;
    font-size: 33px;
    max-width: 80%;
    margin-bottom: 0.4em;
	}
}

.page-cta-link span:after {
  @extend .arrow-right-white;
}
@media only screen and (max-width: 576px) {
.page-cta-discuss-section>h3 {
    font-size: 34px;
	line-height: 42px;
	}
	.system-integration__item {
    min-width: 350px;
	}
	.who-members__item {
    margin-bottom: 30px;
	}
	.people-section img {
    height: 840px;
	}
	.who-members__desc {
    margin-top: 8px;
	}
	.page-cta-link {
    text-align: right;
    font-size: 26px;
    width: 84%;
	}
	.post-navigation__item img {
    max-width: 100%;
	}
	.page-cta-link span:after {
    content: "";
    height: 34px;
    width: 20px;
    position: absolute;
    right: -42px;
    top: 0px;
    background-size: contain;
	}
	.project-form-item span.wpcf7-list-item {
    display: block;
    margin-bottom: 1rem;
	}
	.project-form-item {
    margin-bottom: 2.5rem;
	}
	.who-content {
    font-size: 1.4em;
	}
	.who-techn-partners__title {
    margin-bottom: 1.2em;
	}
	.row-letter-customers>h3 {
    margin-left: 10px;
	}
	.left-fixed-menu>ul li {
    margin-left: 25px;
    margin-right: 25px;
	}
	.what-section__item {
    padding: 6% 9% 9% 6%;
	}
	.hidden-more-info__inner {
    padding: 6% 6% 9% 6%;
	}
	.front-fold-wrapper-text .main-title {
    font-size: 34px;
    line-height: 43px;
	}
	.services-item {
    font-size: 15px;
    line-height: 21px;
    margin-right: 0px;
    width: 100%;
	}
	.light-big-font {
    font-size: 2.2rem;
    line-height: 2.8rem;
	}
	.front-clients-section {
    padding: 0 15px;
	}
	.websites-logo__item {
    width: 50%;
	}
/* 	.websites-logo__item:last-child {
    display: none;
	} */
	.slider-client {
    margin: 29px 0 100px 0;
	}
	.arrow-client {
    max-width: 48px;
    bottom: -71px;
	}
	.front-services-wrapper-text {
    margin: 1rem 0 5rem;
	}
	.front-partners__desc {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.3;
	}
	.front-services-wrapper-text .title {
    font-size: 1.8rem;
	}
	.front-fold-wrapper-text {
    padding: 59% 0 33px;
	}
	.cta-discuss-section>a {
    font-size: 1.5rem;
	}
	.cta-discuss-section>a:after {
    height: 30px;
    width: 28px;
    right: -100%;
    top: 21px;
	}
}
@media only screen and (max-width: 360px) {
.page-cta-discuss-section>h3 {
    font-size: 29px;
    line-height: 38px;
}
	.front-fold-wrapper-text .main-title  {
    font-size: 29px;
    line-height: 36px;
	}
	div.start-project-desc {
    font-size: 25px;
    line-height: 34px;
	}
}

@media only screen and (orientation: landscape) and (max-width: 1200px) {
	.front-fold-wrapper-text {
    padding: 28% 0 33px;
	}
	.front-fold-section {
    height: auto;
	}
	.services_fold__container {
    max-width: 100%;
    padding-bottom: 18%;
	}
	.front-fold-wrapper-text .main-title  {
    font-size: 40px;
    line-height: 44px;
	}
	.site-info>div {
    margin-bottom: 1.8em;
	}
	.services-item {
    font-size: 18px;
    line-height: 22px;
	}

}
/* fix align center wp class */
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}


.start-project-desc em{
    font-size: 20px!important;
}

.system-integration__item-desc ul{
    padding-left: 15px!important;
}

.who-members__item img{
	filter: brightness(0.9)!important;
}


.post a{
    color: #652E8D;
    font-family: $font_primary_bold;
    border-bottom: 2px solid;
	word-break: break-all;
}

.post a:hover{
    color: #7c32b0;
	text-decoration: none;
}

/* consulting landing page */
.page-template-consultInner-php .front-clients-section__inner{
	padding: 4rem 0 4em;
}

.page-template-consultInner-php .websites-projects{
	margin-bottom: 120px;
}
