/* Timeline Nav
----------------------------------------------------------------------------*/
.timeline-nav {
  position: fixed;
  top: 20%;
  right: -120px;
  bottom: auto;
  left: auto;
  z-index: 10;
  width: 80px;
  position: fixed;
  transition: all 360ms ease .2s;

  @include media-breakpoint-down(lg) {
    right: -120px !important;
  }

  &::after {
    content: "";
    width: 4px;
    height: calc(100% - 30px);
    border-right: 2px solid #FFF;
    display: block;
    position: absolute;
    right: -3px;
    left: auto;
    top: 9px;
  }

  a {
    transition: all 280ms ease;
    color: #FFF;
    display: block;
    position: relative;

    span {
      transition: all 280ms ease;
      position: relative;
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
    }

    &::after {
      content: "";
      width: 28px;
      height: 3px;
      border-bottom: 2px solid #FFF;
      display: block;
      position: absolute;
      right: 0;
      left: auto;
      top: 46%;
    }

    &:hover {
      color: #5A32C7;

      span {
        left: -4px;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      margin-bottom: 14px;

      &.active {
        a {
          color: #5A32C7;

          span {
            left: -4px;
          }
        }
      }
    }
  }
}


body {
  &.show-timeline-nav {
    .timeline-nav {
      right: 20px;
    }
  }
}


/* Timeline wrap
----------------------------------------------------------------------------*/
.timeline-wrap {
  padding: 100px 0 220px;
  position: relative;
  overflow: hidden;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(61,32,78,1) 50%, rgba(0,0,0,1) 100%);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 400px;
    width: 100%;
    display: block;
    background-image: url('#{$images-path}/timeline-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: 0;
    transition: all 540ms ease;
  }

  .timeline-desc {
    width: 380px;
    padding: 1rem 2rem;
    text-align: right;
    margin-bottom: 2rem;

    h1,h2,h3,h4,h5,p {
      color: #FFF;
    }

    @include media-breakpoint-down(lg) {
      width: 90%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      h1,h2,h3,h4,h5,p {
        text-align: center !important;
      }
    }
  }
}


/* Timeline inner
----------------------------------------------------------------------------*/
.timeline-wrap {
  .inner {
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      width: 4px;
      height: calc(100% - 40px);
      border-left: 3px solid #FFF;
      display: block;
      position: absolute;
      right: 0;
      left: 50%;
      margin-left: -2px;
      top: 0;
      bottom: auto;
      z-index: 1;
    }
  }
}


/* Timeline item
----------------------------------------------------------------------------*/
.timeline-wrap {

  .section-year {
    position: relative;
    z-index: 5;

    .icon {
      width: 180px;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: auto;
      left: 50%;
      margin-left: -90px;
      margin-top: 0;
      top: 0;
      bottom: auto;
      z-index: 1;
      background-image: url('#{$images-path}/timeline-icon.png');
      background-color: transparent;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      transition: all 400ms ease .4s;
      opacity: 0;
      transform: scale(.5);

      img {
        max-width: 90px;
        height: auto;
        display: block;
      }
    }

    &.element-visible {
      .icon {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  .item-wrap {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
    position: relative;

    @include media-breakpoint-down(lg) {
      margin-bottom: 60px;
      padding-top: 200px;
    }

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #FFF;
      display: block;
      position: absolute;
      right: auto;
      left: 50%;
      margin-left: -10px;
      top: -15px;
      z-index: 2;
    }

    .item {
      width: 34%;
      margin: 0 6%;

      @include media-breakpoint-down(lg) {
        width: 100%;
        margin: 0;
      }
    }

    .text {
      overflow: hidden;
      transition: all 400ms ease .4s;
      padding: 1rem 4rem 0;
      border-radius: 8px;
      color: #FFF;
      opacity: 0;
      transform: translateY(100px);

      @include media-breakpoint-down(lg) {
        background-color: #5A32C7;
        text-align: center;
      }

      h1,h2,h3,h4,h5,p,div,ul li {
        color: #FFF;
      }
    }

    .video-embed {
      height: 0;
      padding-top: 56.25%;
      position: relative;

      iframe,
      video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .section-year {
    &.element-visible {
      .text {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


/* Timeline flex direction
----------------------------------------------------------------------------*/
.timeline-wrap {
  .section-year {
    &:nth-child(2n) {
      .item-wrap {
        flex-direction: row-reverse;

        .text {
          text-align: right;
        }

        @include media-breakpoint-down(lg) {
          flex-direction: column;

          .text {
            text-align: center;
          }
        }
      }
    }
  }
}
