/* Arrows
-----------------------------------------------------*/
.arrow-right-white {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('#{$images-path}/arrow-right.png');
}

.dark-arrow {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('#{$images-path}/dark-arrow.png');
}

/* Black
------------------------------------------------------------*/
.arrow-left-black {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-left-black.png');
}

.arrow-right-black {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-right-black.png');
}

/* SVG
------------------------------------------------------------*/
.arrow-left-svg {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-left.svg');
}

.arrow-right-svg {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-right.svg');
}

/* White
------------------------------------------------------------*/
.arrow-icon-left-white {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-left-white.png');
}

.arrow-icon-right-white {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-right-white.png');
}

/* Slick
------------------------------------------------------------*/
.arrow-right-slick {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-right-1.png');
}

.arrow-left-slick {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/arrow-left.png');
}

/* Close
------------------------------------------------------------*/
.close-icon-dark {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-image: url('#{$images-path}/dark-close-icon.png');
}


/* Arrows purple
------------------------------------------------------------*/
.arrow-icon-right-purple {
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: contain;
  background-image: url('#{$images-path}/dark-arrow.png');
}


/* Mobile dots
------------------------------------------------------------*/
.mobile-dots {
  width: 25px;
  padding: 8px;
  display: block;
  height: auto;
  cursor: pointer;
  text-align: center;

  .dot {
    width: 8px;
    height: 8px;
    margin-bottom: 3px;
    display: block;
    border-radius: 50%;
    background-color: rgba(#000,.8);
    position: relative;
    top: 0;
    bottom: auto;
    transition: all 400ms ease;

    &:last-of-type {
      margin: 0;
    }
  }

  &:hover {
    .dot {
      background-color: rgba($primary_purple,.8);
    }
  }
}
