/* EXIS font */
@font-face {
    font-family: 'CFAstyStd-Bold';
    src: url('#{$fonts-path}/CFAstyStd-Bold.otf');
}
@font-face {
    font-family: 'CFAstyStd-Book';
    src: url('#{$fonts-path}/CFAstyStd-Book.otf');
}
@font-face {
    font-family: 'CFAstyStd-Light';
    src: url('#{$fonts-path}/CFAstyStd-Light.otf');
}
