body{
	font-family: $font_primary;
}

//preloader
body:not(.home){
	opacity: 1;
	transition: opacity 720ms ease;

	&.loaded {
		opacity: 1;
	}
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

strong,
b {
	font-weight: normal!important;
	font-family: $font_primary_bold;
}
