@mixin header-white-to-black {
  .navbar {
    .navbar-brand {
      img {
        filter: invert(100%);
      }
    }

    .hamburger {
      top: -5px;
      background-color: rgba(#000,.8);
    }
  }
}
