//Fonts
$font_primary: 'CFAstyStd-Book';
$font_primary_bold: 'CFAstyStd-Bold';
$font_primary_light: 'CFAstyStd-Light';

//Colors
$primary_color_rgb: rgb(59, 31, 76);
$primary_purple: #3d204e;

$images-path:        "../images" !default;
$fonts-path:        "../fonts" !default;
