.exis-btn {
  text-transform: uppercase;
  padding: .5rem 1rem;
  border: 2px solid $primary_purple;
  background-color: rgba($primary_purple,0);
  color: $primary_purple;
  font-size: 13px;
  font-family: $font_primary_bold;
  display: inline-block;
  transition: all 720ms ease;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background-color: rgba($primary_purple,1);
    color: #FFF;
  }
}
